@import "./token.less";

@select-cls: ~"@{prefix}-select";
@option-cls: ~"@{prefix}-option";

.@{select-cls} {
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  white-space: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 1;
  width: 180px;
  height: 32px;
  min-width: 80px;
  border-radius: 4px;
  background-color: @gary-2;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &-disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .@{prefix}-input {
    flex: 1;
    cursor: pointer;

    &-inner {
      cursor: pointer;
    }
  }

  &-icon-inner {
    color: @gary-7;
    font-size: 16px;
  }

  &-option-box {
    position: absolute;
    background-color: @gary-1;
    min-height: 80px;
    margin-top: 4px;
    border: 1px solid @gary-4;
    border-radius: 6px;
    z-index: 1001;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
  }

  &-option-list {
    padding: 6px 4px;

    .@{option-cls}-item {
      display: flex;
      align-items: center;
      list-style: none;
      font-size: 14px;
      color: @gary-10;
      height: 36px;
      border-radius: 6px;
      cursor: pointer;

      span {
        padding: 0 10px;
        .text-ellipsis;
      }

      &:hover {
        background-color: @gary-2;
        transition: all 0.2s ease;
      }
    }

    .@{option-cls}-active {
      background-color: @primary-1;
      transition: all 0.2s ease;

      span {
        font-weight: 500;
        transition: all 0.2s ease;
      }

      &:hover {
        background-color: @primary-1;
        transition: all 0.2s ease;

        span {
          font-weight: 500;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

.fade-select-enter-from,
.fade-select-appear-from {
  transform: scaleY(0.9);
  transform-origin: 0 0;
  opacity: 0;
}

.fade-select-enter-to,
.fade-select-appear-to {
  transform: scaleY(1);
  transform-origin: 0 0;
  opacity: 1;
}

.fade-select-enter-active,
.fade-select-appear-active {
  transition: all 0.2s cubic-bezier(0, 0, 1, 1);
}

.fade-select-leave-from {
  transform: scaleY(1);
  transform-origin: 0 0;
  opacity: 1;
}

.fade-select-leave-to {
  transform: scaleY(0.9);
  transform-origin: 0 0;
  opacity: 0;
}

.fade-select-leave-active {
  transition: all 0.2s cubic-bezier(0, 0, 1, 1);
}
