/*
 * @Author: Sam
 * @Date: 2020-04-02 14:26:48
 * @Last Modified by: Sam
 * @Last Modified time: 2020-04-02 17:16:51
 */


.bp-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9997;
    background-color: rgba(89, 89, 89, 0.55);
}