/*
 * @Author: Sam
 * @Date: 2021-04-13 17:04:41
 * @Last Modified by: Sam
 * @Last Modified time: 2021-06-03 11:00:23
 */

@radius: 4px;
@largeHeight: 46px;
@normalHeight: 34px;
@smallHeight: 24px;
@miniHeight: 18px;

.bp-dropdown {
  .no-select;
  position: relative;
  display: inline-block;
  max-width: 200px;
  width: auto;
  font-size: inherit;
  cursor: pointer;

  .bp-dropdown-inner {
    display: inline-block;
    padding: 0 12px;
    height: @normalHeight;

    .bp-dropdown-inner-text {
      display: inline-block;
      color: @gary-7;
      padding: 0 6px;
      font-size: 14px;
      line-height: @normalHeight;
      margin: 0;
      transition: all .2s ease-in-out;

      .ri-arrow-down-s-line {
        position: relative;
        left: -4px;
        display: inline-block;
        color: @gary-5;
        font-size: 16px;
        line-height: 1;
        text-transform: none;
        vertical-align: middle;
        transform: rotate(0deg);
        transition: transform .2s ease;
      }

      .open {
        transform: rotate(-180deg);
        transition: transform .2s ease;
      }
    }
  }

  .select-item-box {
    position: absolute;
    width: auto;
    margin: 0 auto;
    z-index: 500;

    .option-arrow {
      position: relative;
      left: 50%;
      bottom: -1px;
      width: 0;
      height: 0;
      margin-top: -4px;
      margin-left: -8px;
      border-width: 0 8px 8px;
      border-style: solid;
      border-color: transparent transparent @gary-3;

      &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: -8px;
        left: -6px;
        border-width: 0 6px 6px;
        border-style: solid;
        border-color: transparent transparent @gary-0;
      }
    }

    .bp-dropdown-option-container {
      background: @gary-0;
      border: 1px solid @gary-3;
      border-radius: @radius;
      padding: 5px 0;
      max-height: 200px;
      height: auto;
      overflow-x: hidden;
      box-shadow: 0 4px 12px rgba(0, 0, 0, .15);

      .bp-dropdown-option {
        width: auto;
        cursor: pointer;
        background: @gary-0;
        text-align: left;
        transition: background .2s ease;

        &:hover {
          background: @gary-2;
          transition: background .2s ease;
        }

        .item {
          padding: 0 15px;
          font-size: 14px;
          color: @gary-7;
          font-size: inherit;

          .item-content {
            display: block;
            max-width: 120px;
            line-height: @normalHeight;
            margin: 0;
            padding: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .item-disabled {
            opacity: .5;
            cursor: no-drop;
          }
        }
      }
    }
  }
}

.option-slide-enter-active {
  transition: all .2s ease-out;
}

.option-slide-leave-active {
  transition: all .2s ease;
}

.option-slide-enter-from,
.option-slide-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}