/**
 * @Author: Sam
 * @Date: 2020-01-17 12:33:32
 * @LastModifiedBy:   Sam
 * @LastModifiedTime: 2021-11-03 15:12:36
 */
// 我们目前约定主色(primary)和三个辅助色(success,warning,danger)和中性色(black,bg,border)

// 主色和辅助色释义:
// [primary]-主色调,[success]-成功色,[warning]-警告色,[danger]-危险色
// 每个色调对应匹配5个色板，一般来说，我们采用第三个色板作为常用色

// 中性色释义:
// [gary]-分为0到12个级别

//  主色
@primary-1: #f0faff;
@primary-2: #96d5ff;
@primary-3: #449efb;
@primary-4: #2f7cd4;
@primary-5: #1d5cad;

// 成功色
@success-1: #ebf7e9;
@success-2: #81d17b;
@success-3: #32b732;
@success-4: #209124;
@success-5: #126b18;

// 警告色
@warning-1: #fffcf0;
@warning-2: #ffe49c;
@warning-3: #f2b847;
@warning-4: #cc9331;
@warning-5: #a6701f;

// 危险色
@danger-1: #fff3f0;
@danger-2: #ffa69e;
@danger-3: #fb4e4b;
@danger-4: #d43538;
@danger-5: #ad232a;

// 中性色
@gary-0: #ffffff;
@gary-1: #fafafa;
@gary-2: #f5f5f5;
@gary-3: #f0f0f0;
@gary-4: #d9d9d9;
@gary-5: #bfbfbf;
@gary-6: #8c8c8c;
@gary-7: #595959;
@gary-8: #434343;
@gary-9: #262626;
@gary-10: #1f1f1f;
@gary-11: #141414;
@gary-12: #000000;

// 新
// 尺寸 Size
@size-mini: 22px;
@size-small: 30px;
@size-normal: 34px;
@size-large: 38px;

// 字重 Font Weight
@font-weight-100: 100;
@font-weight-200: 200;
@font-weight-300: 300;
@font-weight-400: 400;
@font-weight-500: 500;
@font-weight-600: 600;
@font-weight-700: 700;
@font-weight-800: 800;

// 边框大小 Border Size
@border-none: none;
@border-1: 1px;
@border-2: 2px;
@border-3: 3px;

// 边框颜色 Border Color
@border-color-default: @gary-3;
@border-color-primary: @primary-3;
@border-color-success: @success-3;
@border-color-warning: @warning-3;
@border-color-danger: @danger-3;

// 圆角 Radius
@border-radius-none: 0px;
@border-radius-small: 2px;
@border-radius-medium: 4px;
@border-radius-large: 8px;
@border-radius-extra-large: 16px;
@border-radius-round: 20px;

// 旧
// 圆角 Radius
@radius: 4px;
@roundRadius: 45px;

// 尺寸 Sizes
@largeHeight: 38px;
@normalHeight: 34px;
@smallHeight: 30px;
@miniHeight: 22px;