@textarea-status-normal-color: @gary-10;
@textarea-status-normal-placeholder-color: @gary-7;
@textarea-status-normal-background: @gary-3;
@textarea-status-normal-border-color: @gary-3;
@textarea-status-normal-background-hover: @gary-4;
@textarea-status-normal-border-color-hover: @gary-4;
@textarea-status-normal-background-focus: @gary-1;
@textarea-status-normal-border-color-focus: @primary-6;

@textarea-status-readonly-color: @gary-10;
@textarea-status-readonly-placeholder-color: @gary-7;
@textarea-status-readonly-background: @gary-2;
@textarea-status-readonly-border-color: @gary-2;
@textarea-status-readonly-background-hover: @gary-2;
@textarea-status-readonly-border-color-hover: @gary-2;
@textarea-status-readonly-background-focus: @gary-2;
@textarea-status-readonly-border-color-focus: @gary-2;

@textarea-status-disabled-color: @gary-8;
@textarea-status-disabled-placeholder-color: @gary-7;
@textarea-status-disabled-background: @gary-4;
@textarea-status-disabled-border-color: @gary-4;
@textarea-status-disabled-background-hover: @gary-4;
@textarea-status-disabled-border-color-hover: @gary-4;
@textarea-status-disabled-background-focus: @gary-4;
@textarea-status-disabled-border-color-focus: @gary-4;

@textarea-status-danger-color: @gary-10;
@textarea-status-danger-placeholder-color: @gary-7;
@textarea-status-danger-background: @danger-1;
@textarea-status-danger-border-color: @danger-1;
@textarea-status-danger-background-hover: @danger-2;
@textarea-status-danger-border-color-hover: @danger-2;
@textarea-status-danger-background-focus: @gary-1;
@textarea-status-danger-border-color-focus: @danger-6;
