@import "./token.less";

@input-cls: ~"@{prefix}-input";

.@{input-cls} {
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  white-space: nowrap;
  min-height: @miniHeight;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 1;
  width: 200px;
  border-radius: 4px;
  cursor: text;
}

.input-size(@size) {
  .@{input-cls}-size-@{size} {
    height: ~"@{input-size-@{size}-height}";
    padding: ~"@{input-size-@{size}-padding}";

    .@{input-cls}-inner {
      width: 100%;
      height: ~"@{input-size-@{size}-height}";
      font-size: ~"@{input-size-@{size}-font-size}";
    }
  }
}

.input-status(@status) {
  .@{input-cls}-status-@{status} {
    color: ~"@{input-status-@{status}-color}";
    background-color: ~"@{input-status-@{status}-background}";
    border: 1px solid ~"@{input-status-@{status}-border-color}";
    transition: all 0.2s ease;

    &:hover {
      background-color: ~"@{input-status-@{status}-background-hover}";
      border: 1px solid ~"@{input-status-@{status}-border-color-hover}";
      transition: all 0.2s ease;
    }

    &:focus-within {
      background-color: ~"@{input-status-@{status}-background-focus}";
      border: 1px solid ~"@{input-status-@{status}-border-color-focus}";
      transition: all 0.2s ease;
    }
  }
}

.input-size(mini);
.input-size(small);
.input-size(normal);
.input-size(large);

.input-status(normal);
.input-status(readonly);
.input-status(disabled);
// .input-status(error);

.bp-input-placeholder {
  color: @gary-6;
  font-weight: normal;
  font-size: 14px;
}

input::placeholder {
  .bp-input-placeholder;
}

input::-webkit-input-placeholder {
  .bp-input-placeholder;
}

/* Firefox 4-18 */
input::-moz-placeholder {
  .bp-input-placeholder;
}

/* Firefox 19-50 */
input::-moz-placeholder {
  .bp-input-placeholder;
}

/* - Internet Explorer 10–11
  - Internet Explorer Mobile 10-11 */
input::-ms-input-placeholder {
  .bp-input-placeholder;
}

/* Edge (also supports -webkit-input-placeholder) */
input::-ms-input-placeholder {
  .bp-input-placeholder;
}
