@import "../../../../style/common/theme.less";

@input-cls: ~"@{prefix}-input";

.@{input-cls} {
  position: relative;
  display: flex;
  outline: none;
  white-space: nowrap;
  min-height: @miniHeight;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 1;
  width: 200px;
  border-radius: 4px;

  &-inner {
    width: 100%;
    height: 32px;
    padding: 0 10px;
    font-size: 14px;
    color: @gary-9;
  }
}
