@import "./token.less";

@link-cls: ~"@{prefix}-link";

.@{link-cls} {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;

  .left-icon {
    margin-right: 4px;
  }
}

.@{link-cls}-disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: no-drop;
  .transition-all-2-ease();
}

.link-status(@status) {
  .@{link-cls}-status-@{status} {
    color: ~"@{link-status-@{status}-color}" !important;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.6;
      text-decoration: none;
      color: ~"@{link-status-@{status}-color}";
      transition: all 0.2s ease;
    }
  }
}

.link-status(primary);
.link-status(success);
.link-status(warning);
.link-status(danger);
.link-status(normal);
