@import "./token.less";

@link-cls: ~"@{prefix}-link";

.@{link-cls} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  a,
  &-inner {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;

    .left-icon {
      margin-right: 4px;
    }
  }
}

.@{link-cls}-disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: no-drop;
  .transition-all-2-ease();
}

.link-status(@status) {
  .@{link-cls}-status-@{status} {
    a,
    &-inner {
      color: ~"@{link-status-@{status}-color}";
      transition: all 0.2s ease;

      &:hover {
        opacity: 0.6;
        color: ~"@{link-status-@{status}-color}";
        transition: all 0.2s ease;
      }
    }
  }
}

.link-status(primary);
.link-status(success);
.link-status(warning);
.link-status(danger);
.link-status(normal);
