@use "../var";

.api-block {
  .name-inner {
    font-size: 13px;
    font-weight: bold;
    color: var(--bp-gary-9);
  }

  .remark-inner {
    font-size: 13px;
    color: var(--bp-gary-9);
  }

  .type-inner {
    font-size: 12px;
    letter-spacing: 0.4px;
    color: var(--bp-gary-10);
    background-color: var(--bp-gary-1);
    border: 0.5px solid var(--bp-gary-3);
    border-radius: 4px;
    padding: 2px 6px;
  }

  .default-inner {
    font-size: 12px;
    letter-spacing: 0.2px;
    color: var(--bp-gary-9);
    letter-spacing: 0.4px;
  }
}
