@use "../var";

.demo-block {
  width: 100%;
  border: 0.5px solid var(--bp-gary-3);
  border-radius: 10px;
  margin-top: 20px;

  &-area {
    padding: 16px 20px;
    overflow-x: auto;
  }

  &-footer {
    padding: 16px 20px;
    border-top: 0.5px solid var(--bp-gary-3);

    .icon-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 26px;
      height: 26px;
      border: 1px solid var(--bp-gary-3);
      border-radius: 50%;
      cursor: pointer;

      .bp-icon {
        fill: var(--bp-gary-8);
        transition: all 0.2s ease;
      }

      &:hover {
        background-color: var(--bp-gary-2);
        transition: all 0.2s ease;

        .bp-icon {
          fill: var(--bp-gary-10);
          transition: all 0.2s ease;
        }
      }
    }
  }
}
