/**
 * @Author: Sam
 * @Date: 2021-12-01 20:26:36
 * @LastModifiedBy:   Sam
 * @LastModifiedTime: 2021-12-01 20:26:36
 */

.bp-spin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  vertical-align: middle;
  text-align: center;
  z-index: 99;

  .bp-spin-main {
    position: absolute;
    top: 50%;
    left: 50%;
    color: @primary-3;
    font-size: 18px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  // 加载
  .bp-icon-spin {
    box-sizing: border-box;
    vertical-align: middle;

    .ri-loader-5-fill {
      font-size: 20px;
      display: inline-block;
      animation: rotating .8s linear infinite;
      -webkit-animation: rotating .8s linear infinite;
    }
  }

  .bp-spon-text {
    font-size: 14px;
    letter-spacing: .2px;
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
      -webkit-transform: rotate(365deg);
    }
  }
}