@alert-info-background: @gary-3;
@alert-info-border: @gary-3;
@alert-info-icon-color: @gary-6;

@alert-warning-background: @warning-0;
@alert-warning-border: @warning-0;
@alert-warning-icon-color: @warning-5;

@alert-success-background: @success-0;
@alert-success-border: @success-0;
@alert-success-icon-color: @success-5;

@alert-error-background: @danger-0;
@alert-error-border: @danger-0;
@alert-error-icon-color: @danger-5;