@radio-cls: ~"@{prefix}-radio";

.@{radio-cls}-group {
  .@{radio-cls} {
    &:not(:first-child) {
      margin-left: 12px;
    }
  }
}

.@{radio-cls} {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  .no-select;

  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
  }

  &-radio {
    width: 14px;
    height: 14px;
    border: 1px solid @gary-5;
    display: inline-block;
    border-radius: 14px;
    transition: all 0.2s;
  }

  &-check {
    border: 5px solid @primary-6;
    transition: all 0.2s;
  }

  &:hover {
    .@{radio-cls}-radio {
      border: 1px solid @primary-6;
      transition: all 0.2s;
    }

    .@{radio-cls}-check {
      border: 5px solid @primary-6;
      transition: all 0.2s;
    }
  }

  &-label {
    color: @gary-10;
    font-size: 14px;
    font-weight: normal;
    margin-left: 6px;
  }
}

.@{radio-cls}-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
