/*
 * @Author: Sam
 * @Date: 2019-12-22 10:31:34
 * @Last Modified by: Sam
 * @Last Modified time: 2019-12-25 16:17:57
 */
.bp-row {
  position: relative;
  box-sizing: border-box;
  display: block;
}

.bp-row:after,
.bp-row:before {
  display: table;
  content: ""
}

.bp-row:after {
  clear: both
}