@use "../common/design" as *;
@use "../common/animation.scss" as *;

@mixin b($block) {
  $B: $namespace + "-" + $block !global;

  .#{$B} {
    @content;
  }
}

@mixin spin($time) {
  animation: rotating $time linear infinite;
  -webkit-animation: rotating $time linear infinite;
  @content;
}
