@tag-status-normal-background: @gary-4;
@tag-status-normal-background-dot: @gary-5;
@tag-status-normal-font-color: @gary-8;

@tag-status-primary-background: @primary-1;
@tag-status-primary-background-dot: @primary-5;
@tag-status-primary-font-color: @primary-7;

@tag-status-success-background: @success-1;
@tag-status-success-background-dot: @success-5;
@tag-status-success-font-color: @success-7;

@tag-status-warning-background: @warning-1;
@tag-status-warning-background-dot: @warning-5;
@tag-status-warning-font-color: @warning-7;

@tag-status-danger-background: @danger-1;
@tag-status-danger-background-dot: @danger-5;
@tag-status-danger-font-color: @danger-7;