@use "mixins/var" as *;
@use "common/design" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(alert) {
  @include flex(column, flex-start, flex-start);
  background-color: getCssVar("alert", "bg-color");
  border: $borderSize solid getCssVar("alert", "border-color");
  border-radius: 8px;
  padding: 10px 15px;
  box-sizing: border-box;

  &-inner {
    @include flex(row, space-between, center);
    width: 100%;

    &-title {
      @include flex(row, flex-start, center);
      font-size: 14px;
      font-weight: 500;

      svg[class*="-icon-"] {
        margin-right: 6px;
        fill: getCssVar("alert", "icon-color");
      }
    }

    &-close {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      border: none;
      background: transparent;
      font-size: 12px;
      color: var(--bp-gray-5);
      cursor: pointer;

      svg[class*="-icon-"] {
        fill: var(--bp-gray-5);
        border-radius: 4px;
        padding: 2px;
        transition: all 0.2s;
      }

      &:hover {
        svg[class*="-icon-"] {
          background: getCssVar("alert", "close-icon-bg");
          transition: all 0.2s;
        }
      }
    }
  }

  &-content {
    margin-top: 6px;
    font-size: 14px;
  }
}

.#{$B}-hide-border {
  border: none;
}

$status: "info", "success", "warning", "danger";

@each $item in $status {
  .#{$B}-#{$item} {
    @if $item == "info" {
      @include css-var-from-global(("alert", "bg-color"), ("gray", "1"));
      @include css-var-from-global(("alert", "border-color"), ("gray", "2"));
      @include css-var-from-global(("alert", "icon-color"), ("gray", "7"));
      @include css-var-from-global(("alert", "close-icon-bg"), ("gray", "2"));
    } @else {
      @include css-var-from-global(("alert", "bg-color"), ($item, "1"));
      @include css-var-from-global(("alert", "border-color"), ($item, "3"));
      @include css-var-from-global(("alert", "icon-color"), ($item, "6"));
      @include css-var-from-global(("alert", "close-icon-bg"), ($item, "2"));
    }
  }
}
