@use "mixins/var" as *;
@use "common/design" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(badge) {
  position: relative;
  width: fit-content;

  &-dot {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 10px;
      height: 10px;
      border: 2px solid var(--bp-primary-1);
      border-radius: 50%;
      transform: translate(50%, -50%);
      box-sizing: border-box;
      z-index: 999;
    }
  }

  &-inner {
    position: absolute;
    min-width: 20px;
    width: max-content;
    height: 20px;
    color: var(--bp-gray-0);
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    padding: 0 6px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
    z-index: 999;
  }
}

$status: "gray", "primary", "success", "warning", "danger";
@each $status in $status {
  .#{$B}-#{$status} {
    .#{$B}-dot {
      &::after {
        border-color: getCssVar($status, "1");
        background-color: getCssVar($status, "6");
      }
    }

    .#{$B}-inner {
      background-color: getCssVar($status, "6");
      box-shadow: 0 0 0 2px getCssVar($status, "1");
    }
  }
}
