@use "common/design" as *;
@use "common/sizes" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(button) {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1;
  color: rgba(getCssVar("button", "text-color"), 1);
  background-color: rgba(getCssVar("button", "bg-color"), 1);
  border-color: rgba(getCssVar("button", "border-color"), 1);
  border-style: solid;
  border-width: $borderSize;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: middle;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 2px 0px rgba(getCssVar("button", "border-color"), 0.02);
  transition: all 0.2s;

  &-inner {
    transition: padding 0.2s;
  }

  &:hover,
  &:focus-visible {
    color: rgba(getCssVar("button", "text-color-hover"), 1);
    background-color: rgba(getCssVar("button", "bg-color-hover"), 1);
    border-color: rgba(getCssVar("button", "border-color-hover"), 1);
    outline: 0;
    transition: all 0.2s;

    .button-icon {
      svg[class*="-icon-"] {
        fill: rgba(getCssVar("button", "text-color-hover"), 1);
        transition: all 0.2s;
      }
    }
  }

  &:active {
    color: rgba(getCssVar("button", "text-color"), 1);
    background-color: rgba(getCssVar("button", "bg-color"), 1);
    border-color: rgba(getCssVar("button", "border-color"), 1);
    transition: all 0.2s;
  }

  &[class*="-normal"] {
    --bp-button-text-color: var(--bp-gary-0-rgb);
    --bp-button-text-color-hover: var(--bp-gary-0-rgb);
    --bp-button-text-color-active: var(--bp-gary-0-rgb);
  }

  &[class*="-dashed"] {
    border-style: dashed;
  }

  &[class*="-text"] {
    border: none;
    background: none;
    box-shadow: none;
    opacity: 1;

    &:hover,
    &:focus-visible {
      background-color: var(--bp-gary-1);
    }

    &:active {
      opacity: 0.6;
    }
  }

  &[disabled] {
    filter: saturate(0.98) opacity(0.8) contrast(0.98);
    pointer-events: none;
    cursor: default;
  }

  & + & {
    margin-left: 10px;
  }

  .button-icon {
    display: flex;
    align-items: center;

    svg[class*="-icon-"] {
      fill: rgba(getCssVar("button", "text-color"), 1);
    }

    .bp-icon-loading {
      @include spin(1.2s);
    }
  }
}

.is-full {
  width: 100%;
}

$status: "gary", "primary", "success", "warning", "danger";
$types: "secondary", "normal", "plain", "dashed", "text";
$shapes: "square", "round", "circle";

@each $size in $sizes {
  @each $shape in $shapes {
    .#{$B}-#{$size}-#{$shape} {
      width: auto;
      height: getCssVar("size-height", $size);
      min-width: getCssVar("size-height", $size);
      min-height: getCssVar("size-height", $size);
      border-radius: getCssVar("size-border-radius", $size);
      font-size: getCssVar("size-font-size", $size);
      padding: 0 getCssVar("size-padding", $size);

      @if $shape == "round" {
        border-radius: getCssVar("size-height", $size);
      }

      @if $shape == "circle" {
        width: getCssVar("size-height", $size);
        padding: 0;
        border-radius: 50%;
      }
    }
  }
}

.#{$B}-round {
  border-radius: 40px;
}

@each $item in $status {
  @each $type in $types {
    .#{$B}-#{$item}-#{$type} {
      @if $type == "secondary" {
        @include css-var-from-global-rgb(("button", "text-color"), ($item, if($item == "gary", "9", "6")));
        @include css-var-from-global-rgb(("button", "text-color-hover"), ($item, if($item == "gary", "9", "6")));

        @include css-var-from-global-rgb(("button", "bg-color"), ($item, 1));
        @include css-var-from-global-rgb(("button", "bg-color-hover"), ($item, 1));

        @include css-var-from-global-rgb(("button", "border-color"), ($item, 1));
        @include css-var-from-global-rgb(("button", "border-color-hover"), ($item, 6));
      }
      @if $type == "normal" {
        @include css-var-from-global-rgb(("button", "bg-color"), ($item, if($item == "gary", "9", "6")));
        @include css-var-from-global-rgb(("button", "bg-color-hover"), ($item, if($item == "gary", "8", "5")));

        @include css-var-from-global-rgb(("button", "border-color"), ($item, if($item == "gary", "9", "6")));
        @include css-var-from-global-rgb(("button", "border-color-hover"), ($item, if($item == "gary", "8", "5")));
      }
      @if $type == "plain" or $type == "dashed" {
        @include css-var-from-global-rgb(("button", "text-color"), ($item, if($item == "gary", "9", "6")));
        @include css-var-from-global-rgb(("button", "text-color-hover"), ($item, if($item == "gary", "9", "1")));

        @include css-var-from-global-rgb(("button", "bg-color"), ($item, if($item == "gary", "0", "1")));
        @include css-var-from-global-rgb(("button", "bg-color-hover"), ($item, if($item == "gary", "1", "6")));

        @include css-var-from-global-rgb(("button", "border-color"), ($item, if($item == "gary", "4", "6")));
        @include css-var-from-global-rgb(("button", "border-color-hover"), ($item, if($item == "gary", "5", "6")));
      }
      @if $type == "text" {
        @include css-var-from-global-rgb(("button", "text-color"), ($item, if($item == "gary", "9", "6")));
        @include css-var-from-global-rgb(("button", "text-color-hover"), ($item, if($item == "gary", "9", "6")));
      }
    }
  }
}
