@use "common/design" as *;
@use "common/sizes" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(button) {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1;
  color: getCssVar("button", "text-color");
  background-color: getCssVar("button", "bg-color");
  border-color: getCssVar("button", "border-color");
  border-style: solid;
  border-width: 0.5px;
  min-width: 80px;
  min-height: $miniHeight;
  padding: 4px 16px;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 1;
  cursor: pointer;

  &[class*="type-normal"] {
    --bp-button-text-color: var(--bp-gary-1);
  }

  &[class*="dashed"] {
    border-style: dashed;
  }

  &[class*="text"] {
    border: none;
    background: none;
  }
}

$status: "gary", "primary", "success", "warning", "danger";
$types: "secondary", "normal", "plain", "dashed", "text";
$shapes: "square", "round", "circle";

@each $size in $sizes {
  .#{$B}-size-#{$size} {
    height: getCssVar("size-height", $size);
    border-radius: getCssVar("size-border-radius", $size);
    font-size: getCssVar("size-font-size", $size);
  }
}

@each $item in $status {
  @each $type in $types {
    .#{$B}-status-#{$item}-type-#{$type} {
      @if $type == "secondary" {
        @include css-var-from-global(
          ("button", "text-color"),
          ($item, if($item == "gary", "9", "7"))
        );
        @include css-var-from-global(
          ("button", "bg-color"),
          ($item, if($item == "gary", "2", "1"))
        );
        @include css-var-from-global(
          ("button", "border-color"),
          ($item, if($item == "gary", "2", "1"))
        );
      }
      @if $type == "normal" {
        @include css-var-from-global(
          ("button", "bg-color"),
          ($item, if($item == "gary", "9", "6"))
        );
        @include css-var-from-global(
          ("button", "border-color"),
          ($item, if($item == "gary", "9", "6"))
        );
      }
      @if $type == "plain" or $type == "dashed" {
        @include css-var-from-global(
          ("button", "text-color"),
          ($item, if($item == "gary", "9", "6"))
        );
        @include css-var-from-global(
          ("button", "bg-color"),
          ($item, if($item == "gary", "0", "1"))
        );
        @include css-var-from-global(
          ("button", "border-color"),
          ($item, if($item == "gary", "4", "6"))
        );
      }
      @if $type == "text" {
        @include css-var-from-global(
          ("button", "text-color"),
          ($item, if($item == "gary", "9", "6"))
        );
      }
    }
  }
}
