@use "common/design" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins" as *;

@include b(dropdown) {
  &-inner {
    width: max-content;
    cursor: pointer;
  }
}

.#{$B}-content {
  min-height: 36px;
  max-height: 320px;
  padding: 6px 0;
  width: max-content;
  background-color: var(--bp-gray-0);
  border: 1px solid var(--bp-gray-2);
  border-radius: 6px;
  z-index: var(--z-index-dropdown);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;

  .#{$namespace}-doption {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 14px;
    color: var(--bp-gray-9);
    line-height: 36px;
    cursor: pointer;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2px;
      padding: 0 12px;
    }

    &:hover {
      background-color: rgba(var(--bp-gray-1-rgb), 0.8);
      transition: all 0.2s;
    }

    &-disabled {
      color: var(--bp-gray-4);
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
