@use "mixins/var" as *;
@use "common/design" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(form) {
  &-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .#{$B}-item {
      width: max-content;
      margin-bottom: 0;
    }
  }

  &-vertical,
  &-horizontal {
    .#{$B}-item {
      margin-bottom: 20px;
    }
  }

  &-item {
    position: relative;
    display: flex;
    width: 100%;

    &-label {
      display: inline-flex;
      justify-content: flex-end;
      align-items: flex-start;
      padding-right: 12px;
      line-height: 32px;
      font-size: 13px;
      color: var(--bp-gray-6);

      &-required-symbol {
        color: var(--bp-danger-6);
        font-size: 12px;
        margin-right: 2px;
      }
    }

    &-content {
      position: relative;
      flex: 1;
      min-width: 0;

      &-inner {
        @include flex(column, center, flex-start);
        min-height: 32px;
        line-height: 32px;
      }

      &-error {
        position: absolute;
        top: 100%;
        left: 0;
        min-height: 20px;
        color: var(--bp-danger-6);
        font-size: 12px;
        line-height: 20px;
      }
    }

    &-label-right {
      flex-direction: row;
    }

    &-label-left {
      flex-direction: row;

      .#{$B}-item-label {
        justify-content: flex-start;
      }
    }

    &-label-top {
      flex-direction: column;

      .#{$B}-item-label {
        justify-content: flex-start;
      }
    }
  }
}
