@use "mixins/mixins.scss" as *;

@include b(row) {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

$justifys: (
  "center": "center",
  "start": "flex-start",
  "end": "flex-end",
  "between": "space-between",
  "around": "space-around",
  "evenly": "space-evenly",
);

@each $key, $value in $justifys {
  .#{$B}-justify-#{$key} {
    justify-content: $value;
  }
}

$aligns: (
  "start": "flex-start",
  "center": "center",
  "end": "flex-end",
  "baseline": "baseline",
  "stretch": "stretch",
);
@each $key, $value in $aligns {
  .#{$B}-align-#{$key} {
    align-items: $value;
  }
}
