@use "mixins/mixins" as *;

@include b(image) {
  position: relative;
  display: inline-block;
  overflow: hidden;

  img {
    display: block;
    vertical-align: middle;
    max-width: 100%;
  }

  .#{$B}-img {
    opacity: 0;
    transition: opacity 0.28s ease, filter 0.28s ease;
    filter: none;
  }

  .#{$B}-img.is-loaded {
    opacity: 1;
  }

  .#{$B}-img.is-effect-blur {
    filter: blur(8px);
  }

  .#{$B}-img.is-effect-blur.is-loaded {
    filter: blur(0);
  }

  .#{$B}-img.is-effect-none {
    opacity: 1;
    filter: none;
    transition: none;
  }

  &-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    @include flex(row, center, center);
    min-height: 100px;
  }

  &-loading {
    position: absolute;
    inset: 0;
    @include flex(column, center, center) {
      width: 100%;
      height: 100%;
      background-color: var(--bp-primary-1);
      color: var(--bp-gray-5);
      font-size: 13px;

      svg[class*="-icon-"] {
        fill: var(--bp-gray-5);
      }
    }
  }

  &-error {
    position: absolute;
    inset: 0;
    @include flex(column, center, center);
    width: 100%;
    height: 100%;
    background-color: var(--bp-primary-1);
    color: var(--bp-gray-5);
    font-size: 13px;

    svg[class*="-icon-"] {
      fill: var(--bp-gray-5);
    }
  }

  &-error-text {
    margin-top: 6px;
    font-size: 12px;
  }
}
