@use "common/design" as *;
@use "common/sizes" as *;
@use "common/extend.scss" as *;
@use "mixins/mixins.scss" as *;

@include b(input) {
  position: relative;
  display: flex;
  align-items: center;
  outline: 0;
  white-space: nowrap;
  border-style: solid;
  border-width: $borderSize;
  border-color: var(--bp-gary-1);
  background-color: var(--bp-gary-1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: text;
  opacity: 1;
  width: auto;
  transition: all 0.2s ease;

  &:hover {
    .action-icon {
      opacity: 1;
      transition: all 0.2s ease;
    }
  }

  &:focus-within {
    background-color: var(--bp-gary-0);
    border: $borderSize solid var(--bp-primary-6);
    transition: all 0.2s ease;
  }

  &-inner {
    width: 100%;
    height: 100%;
    color: var(--bp-gary-10);
    letter-spacing: 0.2px;
    @extend .font-input;

    &::placeholder {
      color: var(--bp-gary-5);
    }
  }

  svg[class*="-icon-"] {
    fill: var(--bp-gary-6);
  }

  &-suffix {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    flex: 0 0 auto;
    margin-left: 2px;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;

      .action-icon {
        border-radius: 50%;
        opacity: 0;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          fill: var(--bp-gary-9);
          background-color: var(--bp-gary-2);
          transition: all 0.2s ease;
        }
      }
    }

    .suffix-content {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--bp-gary-6);
    }
  }
}

.#{$B}-disabled {
  pointer-events: none;
  cursor: default;

  .#{$B}-inner {
    color: var(--bp-gary-4);

    &::placeholder {
      color: var(--bp-gary-3);
    }
  }

  svg[class*="-icon-"] {
    fill: var(--bp-gary-3);
  }

  .#{$B}-suffix {
    .suffix-content {
      color: var(--bp-gary-3);
    }
  }
}

@each $size in $sizes {
  .#{$B}-#{$size} {
    height: getCssVar("size-height", $size);
    border-radius: getCssVar("size-border-radius", $size);
    font-size: getCssVar("size-font-size", $size);
    padding: 0 calc(getCssVar("size-height", $size) / 4);

    svg[class*="-icon-"] {
      width: calc(getCssVar("size-height", $size) / 1.9) !important;
      height: calc(getCssVar("size-height", $size) / 1.9) !important;
    }

    .#{$B}-perfix {
      padding-right: calc(getCssVar("size-height", $size) / 10);
    }

    .#{$B}-suffix {
      &-inner {
        .action-icon {
          padding: calc(getCssVar("size-height", $size) / 20);
        }
      }

      .suffix-content {
        height: getCssVar("size-height", $size);
        padding-left: calc(getCssVar("size-height", $size) / 10);
        font-size: 12px;
      }
    }
  }
}
