@use "common/design" as *;
@use "common/sizes" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins" as *;
@use "common/extend.scss" as *;

@include b(input-tag) {
  height: auto !important;
  padding: 4px;

  &-content {
    @include flex(row, flex-start, center) {
      width: 100%;
      height: auto;
      flex-wrap: wrap;
      gap: 4px;
      min-height: $miniHeight;

      .#{$namespace}-tag {
        @include css-var-from-global-rgb(("tag", "bg-color"), ("gray", "0"));
        @include css-var-from-global-rgb(("tag", "text-color"), ("gray", "10"));
        @include css-var-from-global-rgb(("tag", "icon-color"), ("gray", "10"));

        border-radius: 4px;
        border: $borderSize solid var(--bp-gray-2);
        transition: all 0.2s ease;
      }
    }

    &-inner {
      min-width: 12px;
      margin-left: 6px;
      width: fit-content;
      color: var(--bp-gray-10);
      letter-spacing: 0.2px;
      @extend .font-input;

      &::placeholder {
        color: var(--bp-gray-5);
      }
    }

    .hidden-span {
      position: absolute;
      visibility: hidden;
      white-space: pre;
      font-size: inherit;
      font-family: inherit;
      padding: 0;
      margin: 0;
      border: 0;
    }

    &:focus-within {
      .#{$namespace}-tag {
        @include css-var-from-global-rgb(("tag", "bg-color"), ("gray", "1"));
        @include css-var-from-global-rgb(("tag", "text-color"), ("gray", "10"));
        @include css-var-from-global-rgb(("tag", "icon-color"), ("gray", "10"));
        border: $borderSize solid var(--bp-gray-2);
        transition: all 0.2s ease;
      }
    }
  }
}
