@use "common/design" as *;
@use "common/extend.scss" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(modal) {
  position: relative;
  width: 100%;
  max-width: 100%;
  pointer-events: auto;
  border-radius: var(--bp-size-border-radius-default);
  background-color: var(--bp-gray-0);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  .modal-inner {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 100px);
  }

  &-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(29, 33, 41, 0.6);
    z-index: var(--z-index-modal);
  }

  &-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    padding: 50px 0;
    overflow: auto;
    z-index: var(--z-index-modal);
  }

  &-header {
    position: relative;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;

    &-title {
      @include flex(row, flex-start, center);
      font-size: 14px;
      font-weight: 600;
      color: var(--bp-gray-9);

      svg[class*="-icon-"] {
        margin-right: 4px;
      }

      .icon-info {
        fill: var(--bp-primary-6);
      }

      .icon-success {
        fill: var(--bp-success-6);
      }

      .icon-error {
        fill: var(--bp-danger-6);
      }

      .icon-warning,
      .icon-confirm {
        fill: var(--bp-warning-6);
      }
    }

    &-close {
      position: absolute;
      top: 24px;
      right: 20px;
      fill: var(--bp-gray-6);
      color: var(--bp-gray-6);
      padding: 3px;
      border-radius: 4px;
      font-size: 12px;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: var(--bp-gray-1);
        color: var(--bp-gray-8);
        fill: var(--bp-gray-8);
        transition: all 0.2s;
      }
    }
  }

  &-body {
    flex: 1;
    padding: 20px;
    color: var(--bp-gray-8);
    min-height: 40px;
    overflow-y: auto;
  }

  &-footer {
    padding: 20px;
    text-align: right;
    margin-top: auto;
    flex-shrink: 0;
  }

  &.is-fullscreen {
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100% !important;
    height: 100%;
    margin: 0;
    border-radius: 0;

    .modal-inner {
      height: 100vh;
      max-height: 100vh;
    }
  }

  &.is-center {
    text-align: center;

    .#{$B}-header,
    .#{$B}-footer {
      text-align: center;
    }

    .#{$B}-header-title {
      justify-content: center;
    }
  }

  &.modal-show-border {
    .#{$B}-header {
      border-bottom: $borderSize solid var(--bp-gray-2);
    }

    .#{$B}-footer {
      border-top: $borderSize solid var(--bp-gray-2);
    }
  }
}
