@use "common/extend.scss" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(option) {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 10px;
  cursor: pointer;

  div[class*="-checkbox"] {
    margin-right: 6px;
  }

  &-inner {
    color: var(--bp-gray-9);
    line-height: 2.6;
    width: max-content;
    @extend .text-ellipsis;
  }

  &:hover {
    background-color: rgba(var(--bp-gray-1-rgb), 0.8);
    transition: all 0.2s;
  }
}

.#{$B}-disabled {
  color: var(--bp-gray-5);
  cursor: not-allowed;
}

.#{$B}-active {
  background-color: var(--bp-gray-1);
  transition: all 0.2s;

  .#{$B}-inner {
    font-weight: 500;
    color: var(--bp-gray-10);
    transition: all 0.2s;
  }
}
