@use "common/design" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(radio) {
  @include css-var-from-global-rgb(("radio", "border-color"), ("gary", "5"));
  @include css-var-from-global-rgb(("radio", "label-color"), ("gary", "10"));
  @include css-var-from-global-rgb(("radio", "check-border-color"), ("primary", "6"));

  position: relative;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;

  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
    visibility: hidden;
  }

  &-radio {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: $borderSize solid rgba(getCssVar("radio", "border-color"), 1);
    border-radius: 14px;
    box-sizing: border-box;
    transition: all 0.2s;
  }

  &-check {
    border: 5px solid rgba(getCssVar("radio", "check-border-color"), 1);
    transition: all 0.2s;
  }

  &-label {
    color: rgba(getCssVar("radio", "label-color"), 1);
    font-size: 14px;
    font-weight: normal;
    margin-left: 8px;
    line-height: unset;
    cursor: pointer;
  }

  &-disabled {
    @include css-var-from-global-rgb(("radio", "border-color"), ("gary", "3"));
    @include css-var-from-global-rgb(("radio", "label-color"), ("gary", "5"));
    @include css-var-from-global-rgb(("radio", "check-border-color"), ("primary", "2"));

    pointer-events: none;
    cursor: default;
  }
}

.#{$B}-group {
  display: inline-flex;

  &-vertical {
    flex-direction: column;

    .#{$B} {
      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }

  &-horizontal {
    .#{$B} {
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}
