@use "common/design" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "common/extend.scss" as *;
@use "mixins/mixins" as *;
@use "common/sizes" as *;

@include b(date-range-picker) {
  @include flex(row, space-between, center);

  position: relative;
  width: 100%;
  min-width: 246px;
  background-color: var(--bp-gray-1);
  border: $borderSize solid var(--bp-gray-1);
  transition: all 0.2s ease;

  &:focus-within {
    background-color: var(--bp-gray-0);
    border: $borderSize solid var(--bp-primary-6);
    transition: all 0.2s ease;

    input {
      background-color: var(--bp-gray-0);
      transition: all 0.2s ease;
    }
  }

  &-input {
    @include flex(row, center, center);
    flex: 1;

    .split {
      font-size: 12px;
      color: var(--bp-gray-6);
      margin: 0 12px;
    }

    input {
      min-width: 90px;
      width: 100%;
      height: 100%;
      background-color: var(--bp-gray-1);
      color: var(--bp-gray-10);
      letter-spacing: 0.2px;
      transition: all 0.2s ease;
      @extend .font-input;

      &::placeholder {
        color: var(--bp-gray-5);
      }
    }
  }

  &-suffix {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    flex: 0 0 auto;
    margin-left: 2px;

    svg[class*="-icon-"] {
      fill: var(--bp-gray-6);
    }
  }

  &-panel {
    width: fit-content;
    border-radius: $date-picker-border-radius;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

@each $size in $sizes {
  .#{$B}-#{$size} {
    height: getCssVar("size-height", $size);
    border-radius: getCssVar("size-border-radius", $size);
    padding: 0 calc(getCssVar("size-height", $size) / 4);

    svg[class*="-icon-"] {
      width: calc(getCssVar("size-height", $size) / 1.9) !important;
      height: calc(getCssVar("size-height", $size) / 1.9) !important;
    }

    input {
      font-size: getCssVar("size-font-size", $size);
    }
  }
}

div[class*="trigger-wrapper"] {
  .#{$B}-panel {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}

.#{$B}-disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}

.#{$namespace}-range-table {
  // Placeholder cell
  @include css-var-from-global-rgb(("ranger-table", "placeholder-text-color"), ("gray", 6));

  // Week cell
  @include css-var-from-global-rgb(("ranger-table", "week-text-color"), ("gray", 4));

  // Date cell
  @include css-var-from-global-rgb(("ranger-table", "date-text-color"), ("gray", 10));
  @include css-var-from-global-rgb(("ranger-table", "date-text-color-hover"), ("primary", 6));
  @include css-var-from-global-rgb(("ranger-table", "date-text-color-active"), ("gray", 0));
  @include css-var-from-global-rgb(("ranger-table", "date-bg-color"), ("gray", 0));
  @include css-var-from-global-rgb(("ranger-table", "date-bg-color-hover"), ("gray", 1));
  @include css-var-from-global-rgb(("ranger-table", "date-bg-color-active"), ("primary", 6));

  @include css-var-from-global-rgb(("ranger-table", "date-bg-color-range"), ("primary", 1));

  width: 552px;
  display: flex;
  border-radius: $date-picker-border-radius;
  background-color: $date-picker-bg;
  border: $borderSize solid $date-picker-border-color;

  &-area {
    width: 100%;
  }

  &-week {
    @include flex(row, space-around, center) {
      padding: 8px 14px 0 14px;
    }

    &-inner {
      display: block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      font-size: 13px;
      font-weight: 400;
      color: rgba(getCssVar("ranger-table", "week-text-color"), 1);
    }
  }

  &-body {
    @include flex(column, center, center) {
      padding: 0 14px 8px 14px;
    }

    &-row {
      @include flex(row, space-around, center) {
        width: 100%;
      }

      &:not(:first-child) {
        margin-top: 6px;
      }
    }

    .day-cell-prev,
    .day-cell-next {
      .#{$namespace}-range-table-body-inner {
        color: rgba(getCssVar("ranger-table", "placeholder-text-color"), 0.6);
        font-weight: 400;
        border-radius: 50%;
      }

      .#{$namespace}-range-table-body-inner {
        &:hover {
          color: rgba(getCssVar("ranger-table", "date-text-color-hover"), 1);
          background-color: rgba(getCssVar("ranger-table", "date-bg-color-hover"), 1);
        }
      }
    }

    .day-cell-normal {
      .#{$namespace}-range-table-body-inner {
        color: rgba(getCssVar("ranger-table", "date-text-color"), 1);
        background-color: rgba(getCssVar("ranger-table", "date-bg-color"), 1);
        font-weight: 500;
        border-radius: 50%;
      }

      .#{$namespace}-range-table-body-inner {
        &:hover {
          color: rgba(getCssVar("ranger-table", "date-text-color-hover"), 1);
          background-color: rgba(getCssVar("ranger-table", "date-bg-color-hover"), 1);
        }
      }
    }

    .active {
      .#{$namespace}-range-table-body-inner {
        border-radius: 50%;
        color: rgba(getCssVar("ranger-table", "date-text-color-active"), 1);
        background-color: rgba(getCssVar("ranger-table", "date-bg-color-active"), 1);

        &:hover {
          color: rgba(getCssVar("ranger-table", "date-text-color-active"), 1);
          background-color: rgba(getCssVar("ranger-table", "date-bg-color-active"), 1);
        }
      }
    }

    .range {
      color: rgba(getCssVar("ranger-table", "date-text-color-range"), 1);
      background-color: rgba(getCssVar("ranger-table", "date-bg-color-range"), 1);

      .#{$namespace}-range-table-body-inner {
        background-color: rgba(getCssVar("ranger-table", "date-bg-color-range"), 1);
      }
    }

    .range-start {
      color: rgba(getCssVar("ranger-table", "date-text-color-range"), 1);
      background-color: rgba(getCssVar("ranger-table", "date-bg-color-range"), 1);
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      @extend .active;
    }

    .range-end {
      color: rgba(getCssVar("ranger-table", "date-text-color-range"), 1);
      background-color: rgba(getCssVar("ranger-table", "date-bg-color-range"), 1);
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      @extend .active;
    }

    &-cell {
      @include flex(row, center, center) {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }
    }

    &-inner {
      display: block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      font-size: 14px;
    }
  }
}
