@use "common/design" as *;
@use "common/sizes" as *;
@use "common/color" as *;
@use "common/extend.scss" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(select) {
  .#{$namespace + "-input"} {
    cursor: pointer;

    input {
      cursor: pointer;
    }
  }
}

.#{$B}-content {
  min-height: 36px;
  max-height: 320px;
  padding: 6px 0;
  background-color: var(--bp-gary-0);
  border: 0.5px solid var(--bp-gary-2);
  border-radius: 6px;
  z-index: 99;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.#{$B}-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 14px;
  color: var(--bp-gary-6);
  line-height: 36px;
}