@use "common/extend.scss" as *;
@use "common/design.scss" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(statistic) {
  @include flex(row, flex-start, baseline);
  font-weight: 500;
  white-space: nowrap;
  line-height: 1.8;
  gap: 4px;
  color: var(--bp-gray-8);

  &-prefix {
    font-size: 13px;
    font-weight: 400;
  }

  &-int,
  &-dec {
    letter-spacing: 0.5px;
  }

  &-unit {
    font-size: 14px;
    font-weight: 400;
  }
}
