@use "common/design" as *;
@use "mixins/mixins.scss" as *;

@include b(table) {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  & {
    table {
      margin: 0;
      padding: 0;
      display: block;
      border-collapse: collapse;

      th,
      td {
        border: none;
      }
    }
  }

  &-body-area {
    position: relative;
    clear: both;
    box-sizing: border-box;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow-x: auto;
    font-feature-settings: "tnum";
    border: $borderSize solid var(--bp-gray-2);
    border-bottom: none;
  }

  &-header {
    &-thead {
      display: table-header-group;
      border-bottom: $borderSize solid var(--bp-gray-2);

      tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        background: none;
        border: none;

        th {
          display: table-cell;
          padding: 10px 12px;
          color: var(--bp-gray-8);
          font-size: 14px;
          font-weight: 500;
          background-color: var(--bp-gray-1);
          overflow-wrap: break-word;
        }
      }
    }
  }

  &-body {
    width: max-content;

    &-tbody {
      display: block;
      overflow-y: auto;

      tr {
        display: table;
        width: 100%;

        &:nth-child(n) {
          background-color: var(--bp-gray-0);
          border-bottom: $borderSize solid var(--bp-gray-2);
          transition: all 0.2s;
        }

        &:hover {
          background-color: rgb(var(--bp-gray-1-rgb), 0.6);
          transition: all 0.2s;
        }
      }

      &-empty {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 0;
        font-size: 13px;
        color: var(--bp-gray-6);

        svg[class*="-icon-"] {
          fill: var(--bp-gray-3);
          margin-bottom: 4px;
        }
      }

      .#{$B}-column {
        display: table-cell;
        color: var(--bp-gray-10);
        font-size: 14px;
        padding: 10px 12px;
      }

      .#{$B}-column-left {
        text-align: left;
      }

      .#{$B}-column-center {
        text-align: center;
      }

      .#{$B}-column-right {
        text-align: right;
      }
    }
  }

  &-border {
    tr {
      td {
        &:not(:nth-child(-n + 2)) {
          border-left: $borderSize solid var(--bp-gray-2);
        }
      }

      th {
        &:not(:first-child) {
          border-left: $borderSize solid var(--bp-gray-2);
        }
      }
    }
  }

  &-stripe {
    tr {
      &:nth-child(2n) {
        background-color: var(--bp-gray-1);
      }
    }
  }
}

.#{$B}-header-wrap {
  overflow: hidden;
}

.#{$B}-body-wrap {
  overflow: auto;
  max-height: var(--bp-table-max-height, auto);
}