@use "common/design" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins" as *;

@include b(tag) {
  @include flex(row, center, center) {
    background-color: rgba(getCssVar("tag", "bg-color"), 1);
    padding: 4px 8px;
    border-radius: 5px;
    width: fit-content;
    max-width: 180px;
    box-sizing: border-box;
    height: 24px;

    &-content {
      @include flex(row, center, center) {
        font-size: 12px;
        font-weight: 400;
        color: rgba(getCssVar("tag", "text-color"), 1);
        line-height: 1.2;
      }
    }

    .#{$B}-icon {
      fill: rgba(getCssVar("tag", "text-color"), 1);
      margin-right: 2px;
      padding: 2px;
    }

    .#{$B}-close {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 2px;
      padding: 1px;
      border: none;
      border-radius: 50%;
      background: transparent;
      fill: rgba(getCssVar("tag", "icon-color"), 0.8);
      cursor: pointer;

      &:hover {
        background-color: rgba(getCssVar("tag", "icon-color"), 0.05);
      }
    }
  }
}

.#{$B}-border {
  border: $borderSize solid rgba(getCssVar("tag", "text-color"), 0.2);
  transition: all 0.2s;
}

.#{$B}-closeable {
  padding: 4px 4px 4px 8px;
}

$status: "gray", "primary", "success", "warning", "danger";

@each $item in $status {
  .#{$B}-#{$item} {
    @include css-var-from-global-rgb(("tag", "bg-color"), ($item, "1"));
    @include css-var-from-global-rgb(("tag", "text-color"), ($item, "7"));
    @include css-var-from-global-rgb(("tag", "icon-color"), ($item, "7"));
  }
}
