@use "common/design" as *;
@use "mixins/mixins.scss" as *;

@include b(time-table) {
  width: fit-content;
  border-radius: 6px;
  height: 100%;
  border: $borderSize solid $borderColor-3;
  background-color: var(--bp-gray-0);
  overflow: auto;

  &-body {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
  }

  &-time-col {
    display: block;
    width: 60px;
    height: 100%;
    max-height: 260px;
    padding: 4px 0;
    overflow-y: hidden !important;

    &:hover {
      overflow-y: auto !important;
    }

    &:not(:first-child) {
      border-left: $borderSize dashed $borderColor-3;
    }
  }

  .time-col-scroller-list {
    margin-bottom: 220px;
    margin-top: 0;
  }

  &-col-cell {
    display: flex;
    padding-left: 22px;
    height: 32px;
    line-height: 32px;
    background-color: var(--bp-gray-0);
    cursor: pointer;
    transition: 0.2s;

    &-inner {
      font-size: 14px;
      font-weight: 500;
      color: var(--bp-gray-10);
      transform: scale(1);
      transition: 0.2s;
    }

    &:hover {
      background-color: var(--bp-gray-1);
      transition: 0.2s;

      .#{$B}-col-cell-inner {
        color: var(--bp-gray-10);
        transform: scale(1.05);
        font-weight: 600;
        transition: 0.2s;
      }
    }
  }

  .active {
    background-color: var(--bp-gray-1);
    transition: 0.2s;

    .bp-time-table-col-cell-inner {
      color: var(--bp-gray-10);
      transform: scale(1.05);
      font-weight: 600;
      transition: 0.2s;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 12px;
    border-top: $borderSize dashed $borderColor-3;
  }
}
