@use "common/design.scss" as *;
@use "mixins/mixins.scss" as *;

@include b(tooltip) {
  display: inline-flex;
  z-index: var(--z-index-tooltip);

  &-inner {
    position: relative;
    display: inline-grid;
    align-items: center;
    width: auto;
  }

  &-content {
    display: block;
    width: fit-content;
    border-radius: 6px;
    max-width: 344px;
    padding: 6px 10px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.6;
    word-wrap: break-word;
    text-align: justify;
  }

  &-dark {
    background-color: var(--bp-gray-10);
    border: $borderSize solid var(--bp-gray-10);
    color: var(--bp-gray-0);
  }

  &-light {
    background-color: var(--bp-gray-0);
    border: $borderSize solid var(--bp-gray-2);
    color: var(--bp-gray-9);
  }

  &-triangle {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: translateX(-50%);

    &.#{$B}-triangle-dark {
      border-top: 5px solid var(--bp-gray-10);
    }

    &.#{$B}-triangle-light {
      border-top: 5px solid var(--bp-gray-3);
    }

    &.#{$B}-triangle-second {
      bottom: -4.5px;
      border-top: 5px solid var(--bp-gray-0);
    }
  }
}
