@use "common/design" as *;
@use "common/sizes" as *;
@use "common/color" as *;
@use "common/extend.scss" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(tooltip) {
  &-inner {
    position: relative;
    display: inline-grid;
    align-items: center;
    width: auto;
  }

  &-content {
    display: block;
    width: fit-content;
    border-radius: 6px;
    background-color: var(--bp-gary-10);
    color: var(--bp-gary-0);
    max-width: 344px;
    padding: 6px 10px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.6;
    word-wrap: break-word;
    text-align: justify;
  }

  &-triangle {
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 5px solid var(--bp-gary-9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: translateX(-50%);
  }
}
