@cls: ~"quick-entry";

.@{cls} {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 40px;

  .@{cls}-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 164px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid @gary-4;
    padding: 20px 20px 16px 20px;

    .@{cls}-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 16px;
        font-weight: 600;
        line-height: 22.4px;
        color: rgba(38, 38, 38, 1);
      }

      .header-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background: rgba(245, 245, 245, 1);

        i {
          color: #0958d9;
          font-size: 16px;
        }
      }
    }

    .@{cls}-body {
      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 19px;
        color: rgba(140, 140, 140, 1);
      }
    }

    .@{cls}-footer {
      text-align: right;

      .bp-btn {
        margin-right: -16px;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .@{cls} {
    grid-template-columns: repeat(auto-fill, calc(50% - 48px));
  }
}

@media screen and (max-width: 960px) {
  .@{cls} {
    grid-template-columns: repeat(auto-fill, calc(100% - 48px));
  }
}
