.stack-box {
  position: relative;
  margin-top: 80px;

  iframe {
    border: 2px solid @gary-5;
    border-radius: 14px;
  }
}

@media screen and (max-width: 960px) {
  .stack-box {
    display: none;
  }
}
