.top-notice {
  width: 100%;
  height: 36px;
  background-color: @primary-6;
  display: flex;
  justify-content: center;

  &-inner {
    width: 1376px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: @gary-1;
      font-size: 13px;
      line-height: 1;
      letter-spacing: .2px;

      span,
      a {
        font-weight: bold;
        font-size: 14px;
        margin: 0 4px;
        color: @gary-1;
      }

      a {
        cursor: pointer;

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}