.font-quick {
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.home-page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  max-width: calc(var(--vp-layout-max-width) - 64px);

  &-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 40px 0 30px;

    .left {
      display: flex;
      flex-direction: column;
      width: 50%;
      transition: all 0.2s ease;

      .app-name {
        position: relative;
        font-size: 50px;
        font-weight: bold;
        color: #1677ff;
        line-height: 1.4;
        width: max-content;
        .font-quick;

        .brage-version {
          position: absolute;
          top: -1px;
          right: -32px;
          border: 2px solid #ffffff;
          border-radius: 12px;
          cursor: pointer;

          &-inner {
            font-size: 12px;
            border: 2px solid #1677ff;
            border-radius: 12px;
            padding: 0 6px;
            background-color: #ffffff;
          }
        }
      }

      .app-intro {
        margin: 10px 0;
        font-size: 28px;
        font-weight: bold;
        color: #1f1f1f;
        .font-quick;

        .text-en {
          font-size: 16px;
          color: #8c8c8c;
          margin-top: 40px;
          font-weight: 500;
          letter-spacing: 0.4px;
          display: block;
        }
      }

      .btn-area {
        margin-top: 20px;
      }
    }

    .right {
      width: 50%;
      text-align: right;
      transition: all 0.2s ease;

      img {
        width: 380px;
        margin: 0 auto;
      }
    }
  }

  &-quick-entry {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;

    .quick-entry-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 320px;
      height: 164px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(240, 240, 240, 1);
      padding: 20px 20px 16px 20px;

      .quick-entry-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 16px;
          font-weight: 600;
          line-height: 22.4px;
          color: rgba(38, 38, 38, 1);
        }

        .header-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 4px;
          background: rgba(245, 245, 245, 1);

          i {
            color: #0958d9;
          }
        }
      }

      .quick-entry-body {
        p {
          font-size: 12px;
          font-weight: 400;
          line-height: 19px;
          color: rgba(140, 140, 140, 1);
        }
      }

      .quick-entry-footer {
        text-align: right;

        .bp-btn {
          margin-right: -16px;
        }
      }
    }
  }
}

@media screen and (max-width: 766px) {
  .home-page {
    &-banner {
      flex-direction: column-reverse;
      padding: 0 40px;
      transition: all 0.2s ease;

      .left {
        width: 100%;
        align-items: center;
        text-align: center;
        transition: all 0.2s ease;

        .app-name {
          font-size: 48px;
        }

        .app-intro {
          font-size: 22px;

          .text-en {
            margin-top: 20px;
            font-size: 14px;
            letter-spacing: 0;
          }
        }
      }

      .right {
        width: 100%;
        text-align: center;
        transition: all 0.2s ease;

        img {
          width: 280px;
          margin: 0 auto;
        }
      }
    }
  }
}
