/**
 * @ Author: Sam
 * @ Create Time: 2023-02-19 08:02:34
 * @ Modified by: Sam
 * @ Modified time: 2023-02-23 05:11:16
 * @ Description: 表格组件样式
 */

.table-block {
  font-size: 13px;

  .name-area {
    &-inner {
      font-size: 12px;
      letter-spacing: 0.6px;
      font-weight: 500;
      color: #262626;
    }
  }

  .remark-area {
    &-inner {
      font-size: 13px;
      letter-spacing: 0.4px;
      color: #434343;
    }
  }

  .default-area {
    &-inner {
      font-size: 12px;
      letter-spacing: 0.6px;
      font-weight: 500;
      color: #262626;
    }
  }

  .type-area {
    &-inner {
      font-size: 12px;
      padding: 2px 6px;
      background-color: #f5f5f5;
      border-radius: 4px;
      color: #262626;
      letter-spacing: 0.6px;
      font-weight: 500;
    }
  }
}
