@avatar-size-mini: 26px;
@avatar-size-small: 32px;
@avatar-size-normal: 42px;
@avatar-size-large: 64px;

@avatar-size-mini-font-size: 12px;
@avatar-size-small-font-size: 14px;
@avatar-size-normal-font-size: 18px;
@avatar-size-large-font-size: 30px;

@avatar-size-mini-icon-size: 16px;
@avatar-size-small-icon-size: 20px;
@avatar-size-normal-icon-size: 26px;
@avatar-size-large-icon-size: 34px;
