@avatar-size-mini: 26px;
@avatar-size-small: 32px;
@avatar-size-normal: 42px;
@avatar-size-large: 64px;

@avatar-size-mini-font-size: 12px;
@avatar-size-small-font-size: 14px;
@avatar-size-normal-font-size: 18px;
@avatar-size-large-font-size: 30px;
