/*
 * @Author: Sam
 * @Date: 2020-01-17 12:33:32
 * @Last Modified by: Sam
 * @Last Modified time: 2020-01-17 14:39:33
 */

//  主色
@primary: #379BFF;
@primaryLight: #50ABFF;
@primaryDark: #0089EB;

// 成功色
@success: #58C05B;
@successLight: #64CC65;
@successDark: #4AB24E;

// 警告色
@warning: #E5A43C;
@warningLight: #F7B24B;
@warningDark: #D99830;

// 危险色
@danger: #F56462;
@dangerLight: #FF726F;
@dangerDark: #E65657;

// 黑色
@blackPrimary: #303133;
@blackNormal: #606266;
@blackMinor: #909399;
@blackPlaceholder: #C0C4CC;