/*
 * @Author: Sam
 * @Date: 2020-01-21 17:09:21
 * @Last Modified by: Sam
 * @Last Modified time: 2020-06-02 14:33:03
 */
@import "../../common/less/theme.less";

.bp-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 9999;
  padding: 20px;
  pointer-events: none;

  .message-container {
    margin-bottom: 14px;

    .message-icon {
      display: inline-block;

      i {
        font-size: 20px;
        font-weight: 400;
        margin-top: -3px;
        margin-right: 10px;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: middle;
      }

      .ri-checkbox-circle-fill {
        color: @success-4;
      }

      .ri-error-warning-fill {
        color: @warning-4;
      }

      .ri-close-circle-fill {
        color: @danger-4;
      }

      // 加载图标
      .ri-loader-5-fill {
        display: inline-block;
        animation: rotating 1s ease-in-out infinite;
        -webkit-animation: rotating 1s ease-in-out infinite;
        color: @primary-3;
      }

      @keyframes rotating {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }

        100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
        }
      }
    }

    .message-content {
      display: inline-block;
      padding: 0 24px;
      height: 44px;
      line-height: 44px;
      font-size: 14px;
      font-weight: 400;
      border-radius: 4px;
      color: @gary-7;
      border: 1px solid @gary-4;
      background: @gary-0;
      max-width: 500px;

      span {
        pointer-events: none;
        -moz-user-select: none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .option {
        display: inline-block;
        pointer-events: all;
        margin-left: 18px;

        i {
          font-size: 20px;
          font-weight: 400;
          margin-top: -3px;
          display: inline-block;
          box-sizing: border-box;
          vertical-align: middle;
          cursor: pointer;
          color: @gary-4;
          transition: color 0.2s ease;
          -o-transition: color 0.2s ease;
          -moz-transition: color 0.2s ease;
          -webkit-transition: color 0.2s ease;

          &:hover {
            color: @danger-3;
            transition: color 0.2s ease;
            -o-transition: color 0.2s ease;
            -moz-transition: color 0.2s ease;
            -webkit-transition: color 0.2s ease;
          }
        }
      }
    }

    .message-text-immersive {
      color: @primary-4;
      border: 1px solid @primary-2;
      background: @primary-1;
    }

    .message-success-immersive {
      color: @success-4;
      border: 1px solid @success-2;
      background: @success-1;
    }

    .message-warning-immersive {
      color: @warning-4;
      border: 1px solid @warning-2;
      background: @warning-1;
    }

    .message-error-immersive {
      color: @danger-4;
      border: 1px solid @danger-2;
      background: @danger-1;
    }

  }

  .message-list-item {
    display: inline-block;
  }

  .message-list-enter-active,
  .message-list-leave-active {
    transition: all .3s ease-in-out;
  }

  .message-list-leave-active {
    margin-bottom: 20px;
  }

  .message-list-enter,
  .message-list-leave-to {
    opacity: 0;
    transform: translateY(-10px);
  }
}