/*
 * @Author: Sam
 * @Date: 2019-11-07 14:07:32
 * @Last Modified by: Sam
 * @Last Modified time: 2021-05-29 21:20:11
 */
@radius: 4px;
@largeHeight: 46px;
@normalHeight: 34px;
@smallHeight: 24px;
@miniHeight: 18px;

.bp-uninput {
  &:disabled {
    background-color: @gary-2;
    cursor: no-drop;
  }

  &:read-only {
    background-color: @gary-1;
    cursor: no-drop;
  }
}

.bp-input {
  width: 100%;
  max-width: 100%;
  min-height: @miniHeight;
  position: relative;
  display: inline-block;
  border-radius: @radius;
  border: 1px solid @gary-4;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);

  &:hover {
    border: 1px solid @gary-5;
  }

  .bp-input-inner {
    .bp-uninput;

    width: 100%;
    -webkit-appearance: none;
    background-color: @gary-0;
    background-image: none;
    box-sizing: border-box;
    font-weight: 400;
    color: @gary-7;
    border-radius: @radius;
    border: none;
    display: inline-block;
    padding: 0 30px 0 15px;
  }

  // 输入框后置内容
  .bp-input-right {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    background-color: @gary-0;
    border-radius: @radius;
    .no-select;

    // 后置按钮需要特殊的样式定制，以符合 Input 风格
    .bp-button {
      top: -1px;

      button {
        border: 1px solid @gary-2;
        border-radius: 0 @radius @radius 0;
        padding: 0 15px !important;
        color: @gary-6;
        background: @gary-2;

        .bp-icon,
        .bp-icon-inner {
          padding: 0 !important;
        }

        .btn-text-inner {
          display: block;
          width: 100%;
          padding: 0 !important;
        }
      }
    }

    // 后置文本的公用 inner 样式
    .bp-input-right-common-inner {
      display: block;
      color: @gary-6;
      border: 1px solid @gary-0;
      border-radius: 0 @radius @radius 0;


      i,
      span {
        padding: 0 15px;
      }

      .bp-button;
    }

    .input-right-common-inner-hover {
      .bp-button {
        button {
          color: @gary-7;
        }
      }
    }

    .bp-input-suffix {
      .bp-input-suffix-inner {
        .bp-input-right-common-inner;

        // suffix 下的按钮不需要边框和背景色
        .bp-button {
          button {
            border: 1px solid @gary-0;
            background: @gary-0;
          }
        }

        .ri-close-circle-fill,
        .ri-eye-fill,
        .ri-eye-line {
          position: relative;
          top: -1px;
          display: block;
          cursor: pointer;

          &:hover {
            color: @gary-7;
          }
        }
      }

      &:hover {
        .bp-input-suffix-inner {
          .input-right-common-inner-hover;
        }
      }
    }

    // append 下需要额外定制背景色和边框
    .bp-input-append {
      border-left: 1px solid @gary-4;

      .bp-input-append-inner {
        .bp-input-right-common-inner;

        background-color: @gary-2;
        border: 1px solid @gary-2;
      }

      &:hover {
        .bp-input-append-inner {
          .input-right-common-inner-hover;
        }
      }
    }
  }

  // 多行文本
  .bp-textarea-inner {
    .bp-input-inner;

    max-width: 100%;
    min-width: 100%;
    min-height: 60px;
    font-size: inherit;
    display: block;
    padding: 10px 15px;
  }

  .resize-none {
    resize: none;
  }

  .bp-textarea-num-limit {
    position: absolute;
    right: 4px;
    bottom: 4px;
    color: @gary-6;
  }
}

// 输入框尺寸
.bp-input-large {
  .bp-input-inner {
    height: @largeHeight;
    font-size: 16px;
  }

  .bp-input-right {
    height: @largeHeight;
    line-height: @largeHeight;

    .bp-input-suffix-inner,
    .bp-input-append-inner {
      height: @largeHeight - 2;

      button {
        height: @largeHeight;
      }

      i,
      span,
      .bp-icon,
      .bp-icon-inner {
        font-size: 18px;
      }
    }
  }
}

.bp-input-normal {
  .bp-input-inner {
    height: @normalHeight;
    font-size: inherit;
  }

  .bp-input-right {
    height: @normalHeight;
    line-height: @normalHeight;

    .bp-input-suffix-inner,
    .bp-input-append-inner {
      height: @normalHeight - 2;

      button {
        height: @normalHeight;
      }

      i,
      span,
      .bp-icon,
      .bp-icon-inner {
        font-size: inherit;
      }
    }
  }
}

.bp-input-small {
  .bp-input-inner {
    height: @smallHeight;
    font-size: 12px;
  }

  .bp-input-right {
    height: @smallHeight;
    line-height: @smallHeight;

    .bp-input-suffix-inner,
    .bp-input-append-inner {
      height: @smallHeight - 2;

      button {
        height: @smallHeight;
      }

      i,
      span,
      .bp-icon,
      .bp-icon-inner {
        font-size: 12px;
      }
    }
  }
}

.bp-input-mini {
  .bp-input-inner {
    height: @miniHeight;
    font-size: 12px;
  }

  .bp-input-right {
    height: @miniHeight;
    line-height: @miniHeight;

    .bp-input-suffix-inner,
    .bp-input-append-inner {
      height: @miniHeight - 2;

      button {
        height: @miniHeight;
      }

      i,
      span,
      .bp-icon,
      .bp-icon-inner {
        font-size: 12px;
      }
    }
  }
}

.focus-border {
  border: 1px solid @primary-3  !important;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}

.bp-border-primary {
  border: 1px solid @primary-4;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);

  &:hover {
    border: 1px solid @primary-5;
  }
}

.bp-border-success {
  border: 1px solid @success-4;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);

  &:hover {
    border: 1px solid @success-5;
  }
}

.bp-border-warning {
  border: 1px solid @warning-4;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);

  &:hover {
    border: 1px solid @warning-5;
  }
}

.bp-border-danger {
  border: 1px solid @danger-4;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);

  &:hover {
    border: 1px solid @danger-5;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px @gary-0 inset;
  border: 1px solid @gary-0  !important;
}

input,
textarea {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  outline: none;
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
}

.bp-input-placeholder {
  color: @gary-5;
  font-weight: normal;
}

textarea::placeholder {
  .bp-input-placeholder;
}

textarea::-webkit-input-placeholder {
  .bp-input-placeholder;
}

/* Firefox 4-18 */
textarea::-moz-placeholder {
  .bp-input-placeholder;
}

/* Firefox 19-50 */
textarea::-moz-placeholder {
  .bp-input-placeholder;
}

/* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
textarea::-ms-input-placeholder {
  .bp-input-placeholder;
}

/* Edge (also supports -webkit-input-placeholder) */
textarea::-ms-input-placeholder {
  .bp-input-placeholder;
}

input::placeholder {
  .bp-input-placeholder;
}

input::-webkit-input-placeholder {
  .bp-input-placeholder;
}

/* Firefox 4-18 */
input::-moz-placeholder {
  .bp-input-placeholder;
}

/* Firefox 19-50 */
input::-moz-placeholder {
  .bp-input-placeholder;
}

/* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
input::-ms-input-placeholder {
  .bp-input-placeholder;
}

/* Edge (also supports -webkit-input-placeholder) */
input::-ms-input-placeholder {
  .bp-input-placeholder;
}

.bp-fade-in-enter-from,
.bp-fade-in-leave-to {
  opacity: 0;
}

.bp-fade-in-enter-active,
.bp-fade-in-leave-active {
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}