/*
 * @Author: Sam
 * @Date: 2020-04-15 09:51:39
 * @Last Modified by: Sam
 * @Last Modified time: 2021-06-11 20:35:06
 */

.bp-image {
  position: relative;
  display: inline-block;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  .bp-image-inner,
  .bp-image-error,
  .bp-image-placeholder {
    // width: 100%;
    height: 100%;
  }

  .bp-image-error,
  .bp-image-placeholder {
    display: flex;
    font-size: 14px;
    color: @gary-5;
    background-color: @gary-2;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
}