/** Type: normal, Status: normal */
@btnGroup-type-normal-status-normal-border: @gary-5;

/** Type: primary, Status: normal */
@btnGroup-type-primary-status-normal-border: @gary-6;

/** Type: normal, Status: primary */
@btnGroup-type-normal-status-primary-border: @primary-3;

/** Type: primary, Status: primary */
@btnGroup-type-primary-status-primary-border: @primary-5;

/** Type: normal, Status: success */
@btnGroup-type-normal-status-success-border: @success-3;

/** Type: primary, Status: success */
@btnGroup-type-primary-status-success-border: @success-5;

/** Type: normal, Status: warning */
@btnGroup-type-normal-status-warning-border: @warning-3;

/** Type: primary, Status: warning */
@btnGroup-type-primary-status-warning-border: @warning-5;

/** Type: normal, Status: danger */
@btnGroup-type-normal-status-danger-border: @danger-3;

/** Type: primary, Status: danger */
@btnGroup-type-primary-status-danger-border: @danger-5;