/*
 * @Author: Sam
 * @Date: 2019-12-16 11:05:47
 * @Last Modified by: Sam
 * @Last Modified time: 2020-03-17 10:20:21
 */
@import "../../common/less/theme.less";

button {
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
  border-radius: 3.5px;
  font-weight: 500;
  opacity: 1;
  -webkit-appearance: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background .2s, color .2s, border .2s, opacity .2s;
  -o-transition: background .2s, color .2s, border .2s, opacity .2s;
  -moz-transition: background .2s, color .2s, border .2s, opacity .2s;
  -webkit-transition: background .2s, color .2s, border .2s, opacity .2s;
  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
}

.btn-full {
  width: 100% !important;
  display: block !important;
}

.bp-button {
  position: relative;
  display: inline-block;

  // 按钮尺寸
  .btn-size-large {
    padding: 10px 22px;
    font-size: 1.2rem;
  }

  .btn-size-normal {
    padding: 8px 18px;
    font-size: 1.1rem;
  }

  .btn-size-small {
    padding: 6px 14px;
    font-size: 1rem;
  }

  .btn-size-mini {
    padding: 2px 6px;
    font-size: 0.9rem;
  }

  button:disabled {
    opacity: .618;
    cursor: no-drop;
    // pointer-events: none;
    transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -webkit-transition: opacity .2s ease;
  }

  // 文字按钮
  .btn-text {
    font-size: 1.1rem;
    color: @primary-3;
    out-line: none;
    cursor: pointer;
    transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
  }

  // 默认按钮
  .btn-default {
    border: 1px solid @gary-5;
    background: @gary-0;
    color: @gary-7;

    &:hover {
      border: 1px solid @gary-5;
      color: @primary-3;
      background: @primary-1;
    }

    &:active {
      border: 1px solid @primary-3;
      background: @primary-1;
    }
  }

  .btn-default-plain {
    border: 1px solid @gary-5;
    background: @gary-0;
    color: @gary-7;

    &:hover {
      border: 1px solid @gary-5;
      color: @primary-3;
      background: @gary-0;
    }

    &:active {
      border: 1px solid @primary-3;
      background: @gary-0;
    }
  }

  // 主要按钮
  .btn-primary {
    border: 1px solid @primary-3;
    background: @primary-3;
    color: @gary-0;

    &:hover {
      border: 1px solid @primary-4;
      background: @primary-4;
    }

    &:active {
      border: 1px solid @primary-3;
      background: @primary-3;
    }
  }

  .btn-primary-plain {
    border: 1px solid @primary-3;
    background: @primary-1;
    color: @primary-3;

    &:hover {
      border: 1px solid @primary-4;
      background: @primary-4;
      color: @gary-0;
    }

    &:active {
      border: 1px solid @primary-3;
      background: @primary-3;
      color: @gary-0;
    }
  }

  // 成功按钮
  .btn-success {
    border: 1px solid @success-3;
    background: @success-3;
    color: @gary-0;

    &:hover {
      border: 1px solid @success-4;
      background: @success-4;
    }

    &:active {
      border: 1px solid @success-3;
      background: @success-3;
    }
  }

  .btn-success-plain {
    border: 1px solid @success-3;
    background: @success-1;
    color: @success-3;

    &:hover {
      border: 1px solid @success-4;
      background: @success-4;
      color: @gary-0;
    }

    &:active {
      border: 1px solid @success-3;
      background: @success-3;
      color: @gary-0;
    }
  }


  // 警告按钮
  .btn-warning {
    border: 1px solid @warning-3;
    background: @warning-3;
    color: @gary-0;

    &:hover {
      border: 1px solid @warning-4;
      background: @warning-4;
    }

    &:active {
      border: 1px solid @warning-3;
      background: @warning-3;
    }
  }

  .btn-warning-plain {
    border: 1px solid @warning-3;
    background: @warning-1;
    color: @warning-3;

    &:hover {
      border: 1px solid @warning-4;
      background: @warning-4;
      color: @gary-0;
    }

    &:active {
      border: 1px solid @warning-3;
      background: @warning-3;
      color: @gary-0;
    }
  }


  // 危险按钮
  .btn-danger {
    border: 1px solid @danger-3;
    background: @danger-3;
    color: @gary-0;

    &:hover {
      border: 1px solid @danger-4;
      background: @danger-4;
    }

    &:active {
      border: 1px solid @danger-3;
      background: @danger-3;
    }
  }

  .btn-danger-plain {
    border: 1px solid @danger-3;
    background: @danger-1;
    color: @danger-3;

    &:hover {
      border: 1px solid @danger-4;
      background: @danger-4;
      color: @gary-0;
    }

    &:active {
      border: 1px solid @danger-3;
      background: @danger-3;
      color: @gary-0;
    }
  }
}

.round {
  button {
    border-radius: 25px;
  }
}

// 加载
.bp-icon-loading {
  display: inline-block;
  animation: rotating 1s ease-in-out infinite;
  -webkit-animation: rotating 1s ease-in-out infinite;
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}