/**
 * @Author: Sam
 * @Date: 2021-10-20 13:44:26
 * @LastModifiedBy:   Sam
 * @LastModifiedTime: 2021-10-20 13:44:26
 */

.bp-button-inner {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  max-width: 100%;
  min-height: @miniHeight;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: @radius;
  opacity: 1;
  .no-select;
  transition: background .2s, color .2s, border .2s, opacity .2s, width .2s;
  -o-transition: background .2s, color .2s, border .2s, opacity .2s, width .2s;
  -moz-transition: background .2s, color .2s, border .2s, opacity .2s, width .2s;
  -webkit-transition: background .2s, color .2s, border .2s, opacity .2s, width .2s;
  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
}

a {
  vertical-align: middle;

  .btn-text-inner {
    vertical-align: middle;
    display: inline-block;
  }
}

.btn-block {
  width: 100% !important;
  display: block !important;
}

.btn-no-border {

  button,
  a {
    border: none !important;
  }
}

.bp-button {
  position: relative;
  display: inline-block;
  line-height: 1;
}

.bp-icon {
  line-height: 2;

  .bp-icon-inner {
    vertical-align: middle;
    // line-height: 2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.btn-text-inner {
  line-height: 1;

  .btn-text-inner-i {
    position: relative;
    top: -1px;
    line-height: 1;
    vertical-align: middle;
    margin-right: 4px;
  }
}

// 按钮尺寸
.btn-size-large {
  height: @largeHeight + 2;

  .bp-icon-inner {
    padding: 0 12px;
    font-size: 13px;
  }

  .btn-text-inner {
    padding: 0 18px;
    font-size: 13px;
  }
}

.btn-size-normal {
  height: @normalHeight + 2;

  .bp-icon-inner {
    padding: 0 8px;
     font-size: 14px;
  }

  .btn-text-inner {
    padding: 0 16px;
    font-size: 13px;
  }
}

.btn-size-small {
  height: @smallHeight + 2;
  line-height: 1;

  .bp-icon-inner {
    padding: 0 4px;
    font-size: 13px;
  }

  .btn-text-inner {
    padding: 0 14px;
    font-size: 13px;
  }
}

.btn-size-mini {
  height: @miniHeight + 2;
  line-height: 1;

  .bp-icon-inner {
    padding: 0 3px;
    font-size: 12px;
  }

  .btn-text-inner {
    padding: 0 10px;
    font-size: 12px;
  }
}

button:disabled,
.bp-button-disabled {
  opacity: .618;
  cursor: no-drop;
  pointer-events: none;
  transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -webkit-transition: opacity .2s ease;
}

// 文字按钮
.btn-text {
  font-size: inherit;
  cursor: pointer;
  transition: color .2s ease;
}

.btn-theme-primary {
  color: @primary-3  !important;
}

.btn-theme-success {
  color: @success-3  !important;
}

.btn-theme-warning {
  color: @warning-3  !important;
}

.btn-theme-danger {
  color: @danger-3  !important;
}

// 默认按钮
.default-style {
  border: 1px solid @gary-4;
  background: @gary-0;
  color: @gary-7;
}

.btn-default {
  .default-style;

  &:hover {
    border: 1px solid @primary-3;
    color: @primary-3;
    background: @primary-1;
    opacity: 1;
  }

  &:active {
    border: 1px solid @primary-3;
    background: @primary-1;
    opacity: .8;
  }
}

// 默认幽灵按钮
.default-plain-style {
  border: 1px solid @gary-4;
  background: @gary-0;
  color: @gary-7;
}

.btn-default-plain {
  .default-plain-style;

  &:hover {
    border: 1px solid @gary-5;
    color: @primary-3;
    background: @gary-0;
  }

  &:active {
    border: 1px solid @primary-3;
    background: @gary-0;
  }
}

// 主要按钮
.primary-style {
  border: 1px solid @primary-3;
  background: @primary-3;
  color: @gary-0;
}

.btn-primary {
  .primary-style;

  &:hover {
    opacity: .8;
  }

  &:active {
    border: 1px solid @primary-3;
    background: @primary-3;
    opacity: 1;
  }
}

// 主要幽灵按钮
.primary-plain-style {
  border: 1px solid @primary-3;
  background: @primary-1;
  color: @primary-3;
}

.btn-primary-plain {
  .primary-plain-style;

  &:hover {
    border: 1px solid @primary-3;
    background: @primary-3;
    color: @gary-0;
    opacity: 1;
  }

  &:active {
    border: 1px solid @primary-3;
    background: @primary-3;
    color: @gary-0;
    opacity: .8;
  }
}

// 成功按钮
.success-style {
  border: 1px solid @success-3;
  background: @success-3;
  color: @gary-0;
}

.btn-success {
  .success-style;

  &:hover {
    opacity: .8;
  }

  &:active {
    border: 1px solid @success-3;
    background: @success-3;
    opacity: 1;
  }
}

// 成功幽灵按钮
.success-plain-style {
  border: 1px solid @success-3;
  background: @success-1;
  color: @success-3;
}

.btn-success-plain {
  .success-plain-style;

  &:hover {
    border: 1px solid @success-3;
    background: @success-3;
    color: @gary-0;
    opacity: 1;
  }

  &:active {
    border: 1px solid @success-2;
    background: @success-2;
    color: @gary-0;
    opacity: .8;
  }
}

// 警告按钮
.warning-style {
  border: 1px solid @warning-3;
  background: @warning-3;
  color: @gary-0;
}

.btn-warning {
  .warning-style;

  &:hover {
    opacity: .8;
  }

  &:active {
    border: 1px solid @warning-3;
    background: @warning-3;
    opacity: 1;
  }
}

// 警告幽灵按钮
.warning-plain-style {
  border: 1px solid @warning-3;
  background: @warning-1;
  color: @warning-3;
}

.btn-warning-plain {
  .warning-plain-style;

  &:hover {
    border: 1px solid @warning-3;
    background: @warning-3;
    color: @gary-0;
    opacity: 1;
  }

  &:active {
    border: 1px solid @warning-3;
    background: @warning-3;
    color: @gary-0;
    opacity: .8;
  }
}

// 危险按钮
.danger-style {
  border: 1px solid @danger-3;
  background: @danger-3;
  color: @gary-0;
}

.btn-danger {
  .danger-style;

  &:hover {
    opacity: .8;
  }

  &:active {
    border: 1px solid @danger-2;
    background: @danger-2;
    opacity: 1;
  }
}

// 危险幽灵按钮
.danger-plain-style {
  border: 1px solid @danger-3;
  background: @danger-1;
  color: @danger-3;
}

.btn-danger-plain {
  .danger-plain-style;

  &:hover {
    border: 1px solid @danger-3;
    background: @danger-3;
    color: @gary-0;
    opacity: 1;
  }

  &:active {
    border: 1px solid @danger-3;
    background: @danger-3;
    color: @gary-0;
    opacity: .8;
  }
}

.btn-round {
  .bp-button-inner {
    border-radius: 45px;
  }
}

// 加载
.bp-icon-loading {
  display: inline-block;
  animation: rotating .8s linear infinite;
  -webkit-animation: rotating .8s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(365deg);
  }
}