/*
 * @Author: Sam
 * @Date: 2019-12-16 11:05:47
 * @Last Modified by: Sam
 * @Last Modified time: 2021-04-19 14:49:46
 */

@radius: 4px;
@largeHeight: 46px;
@normalHeight: 34px;
@smallHeight: 24px;
@miniHeight: 18px;

button {
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  max-width: 100%;
  min-height: 20px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
  border-radius: @radius;
  opacity: 1;
  -webkit-appearance: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background .2s, color .2s, border .2s, opacity .2s, width .2s;
  -o-transition: background .2s, color .2s, border .2s, opacity .2s, width .2s;
  -moz-transition: background .2s, color .2s, border .2s, opacity .2s, width .2s;
  -webkit-transition: background .2s, color .2s, border .2s, opacity .2s, width .2s;
  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
}

.btn-block {
  width: 100% !important;
  display: block !important;
}

.btn-no-border {
  button {
    border: none !important;
  }
}

.bp-button {
  position: relative;
  display: inline-block;

  .bp-icon {
    font-style: normal;
    font-weight: 400;
    margin-right: 4px;
    font-variant: normal;
    font-size: 14px;
    text-transform: none;
    vertical-align: middle;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .btn-icon {
    position: relative;
    top: -2px;
    border-radius: @radius;
    font-size: inherit;
    height: auto;
    padding: 0 4px !important;
    cursor: pointer;

    i {
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      font-size: 14px;
      text-transform: none;
      vertical-align: middle;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: @gary-8;
      transition: color .2s ease;
    }

    &:hover {
      i {
        color: @primary-3;
        transition: color .2s ease;
      }
    }
  }

  // 按钮尺寸
  .btn-size-large {
    height: @largeHeight;
    padding: 0 32px;
    font-size: 16px;
  }

  .btn-size-normal {
    height: @normalHeight;
    padding: 0 24px;
    font-size: 14px;
  }

  .btn-size-small {
    height: @smallHeight;
    padding: 0 16px;
    font-size: 14px;
  }

  .btn-size-mini {
    height: @miniHeight;
    padding: 0 8px;
    font-size: 12px;
  }

  button:disabled {
    opacity: .618;
    cursor: no-drop;
    transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -webkit-transition: opacity .2s ease;
  }

  // 文字按钮
  .btn-text {
    font-size: inherit;
    color: @primary-3 !important;
    cursor: pointer;
    transition: color .2s ease;
  }

  // 默认按钮
  .default-style {
    border: 1px solid @gary-4;
    background: @gary-0;
    color: @gary-7;
  }

  .btn-default {
    .default-style;

    &:disabled {
      &:hover {
        .default-style;
      }
    }

    &:hover {
      border: 1px solid @gary-5;
      color: @primary-3;
      background: @primary-1;
    }

    &:active {
      border: 1px solid @primary-3;
      background: @primary-1;
    }
  }

  // 默认幽灵按钮
  .default-plain-style {
    border: 1px solid @gary-5;
    background: @gary-0;
    color: @gary-7;
  }

  .btn-default-plain {
    .default-plain-style;

    &:disabled {
      &:hover {
        .default-plain-style;
      }
    }

    &:hover {
      border: 1px solid @gary-5;
      color: @primary-3;
      background: @gary-0;
    }

    &:active {
      border: 1px solid @primary-3;
      background: @gary-0;
    }
  }

  // 主要按钮
  .primary-style {
    border: 1px solid @primary-3;
    background: @primary-3;
    color: @gary-0;
  }

  .btn-primary {
    .primary-style;

    &:disabled {
      &:hover {
        .primary-style;
      }
    }

    &:hover {
      border: 1px solid @primary-4;
      background: @primary-4;
    }

    &:active {
      border: 1px solid @primary-3;
      background: @primary-3;
    }
  }

  // 主要幽灵按钮
  .primary-plain-style {
    border: 1px solid @primary-3;
    background: @primary-1;
    color: @primary-3;
  }

  .btn-primary-plain {
    .primary-plain-style;

    &:disabled {
      &:hover {
        .primary-plain-style;
      }
    }

    &:hover {
      border: 1px solid @primary-4;
      background: @primary-4;
      color: @gary-0;
    }

    &:active {
      border: 1px solid @primary-3;
      background: @primary-3;
      color: @gary-0;
    }
  }

  // 成功按钮
  .success-style {
    border: 1px solid @success-3;
    background: @success-3;
    color: @gary-0;
  }

  .btn-success {
    .success-style;

    &:disabled {
      &:hover {
        .success-style;
      }
    }

    &:hover {
      border: 1px solid @success-4;
      background: @success-4;
    }

    &:active {
      border: 1px solid @success-3;
      background: @success-3;
    }
  }

  // 成功幽灵按钮
  .success-plain-style {
    border: 1px solid @success-3;
    background: @success-1;
    color: @success-3;
  }

  .btn-success-plain {
    .success-plain-style;

    &:disabled {
      &:hover {
        .success-plain-style;
      }
    }

    &:hover {
      border: 1px solid @success-4;
      background: @success-4;
      color: @gary-0;
    }

    &:active {
      border: 1px solid @success-3;
      background: @success-3;
      color: @gary-0;
    }
  }


  // 警告按钮
  .warning-style {
    border: 1px solid @warning-3;
    background: @warning-3;
    color: @gary-0;
  }

  .btn-warning {
    .warning-style;

    &:disabled {
      &:hover {
        .warning-style;
      }
    }

    &:hover {
      border: 1px solid @warning-4;
      background: @warning-4;
    }

    &:active {
      border: 1px solid @warning-3;
      background: @warning-3;
    }
  }

  // 警告幽灵按钮
  .warning-plain-style {
    border: 1px solid @warning-3;
    background: @warning-1;
    color: @warning-3;
  }

  .btn-warning-plain {
    .warning-plain-style;

    &:disabled {
      &:hover {
        .warning-plain-style;
      }
    }

    &:hover {
      border: 1px solid @warning-4;
      background: @warning-4;
      color: @gary-0;
    }

    &:active {
      border: 1px solid @warning-3;
      background: @warning-3;
      color: @gary-0;
    }
  }


  // 危险按钮
  .danger-style {
    border: 1px solid @danger-3;
    background: @danger-3;
    color: @gary-0;
  }

  .btn-danger {
    .danger-style;

    &:disabled {
      &:hover {
        .danger-style;
      }
    }

    &:hover {
      border: 1px solid @danger-4;
      background: @danger-4;
    }

    &:active {
      border: 1px solid @danger-3;
      background: @danger-3;
    }
  }

  // 危险幽灵按钮
  .danger-plain-style {
    border: 1px solid @danger-3;
    background: @danger-1;
    color: @danger-3;
  }

  .btn-danger-plain {
    .danger-plain-style;

    &:disabled {
      &:hover {
        .danger-plain-style;
      }
    }

    &:hover {
      border: 1px solid @danger-4;
      background: @danger-4;
      color: @gary-0;
    }

    &:active {
      border: 1px solid @danger-3;
      background: @danger-3;
      color: @gary-0;
    }
  }
}

.round {
  button {
    border-radius: 25px;
  }
}

// 加载
.bp-icon-loading {
  margin-right: 4px;
  box-sizing: border-box;
  vertical-align: middle;

  i {
    display: inline-block;
    animation: rotating .8s linear infinite;
    -webkit-animation: rotating .8s linear infinite;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(365deg);
  }
}