/**
 * @ Author: Sam
 * @ Create Time: 2023-03-09 07:29:37
 * @ Modified by: Sam
 * @ Modified time: 2023-03-10 10:47:56
 * @ Description:
 */

.bp-space {
  display: inline-flex;

  .bp-space-item {
    &:first-child {
      margin-left: 0 !important;
    }
    &:last-child {
      margin-right: 0 !important;
    }
  }
}
