/**
 * @ Author: Sam
 * @ Create Time: 2023-02-23 04:14:35
 * @ Modified by: Sam
 * @ Modified time: 2023-03-02 16:27:36
 * @ Description:
 */

.bp-button {
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  min-height: @miniHeight;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 1;
  .no-select;
  .transition-all-2-ease();

  span {
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.4px;
  }

  &-size-normal {
    font-size: 14px;
    font-weight: 400;
    height: @normalHeight;
    border-radius: 4px;
    padding: 0 15px;
  }

  #type-normal() {
    main_bg: @gary-7;
    second_bg: @gary-4;
  }

  &-normal-normal {
    background-color: #type-normal[second_bg];
    border: 1px solid #type-normal[second_bg];
    color: @gary-9;
  }

  &-normal-primary {
    background-color: #type-normal[main_bg];
    border: 1px solid #type-normal[main_bg];
    color: @gary-1;
  }

  &-normal-dashed {
    background-color: #type-normal[second_bg];
    border: 1px solid #type-normal[main_bg];
    color: @gary-9;
  }

  &-normal-plain {
    background-color: #type-normal[second_bg];
    border: 1px solid #type-normal[main_bg];
    color: @gary-9;
  }

  // &-type-primary {
  //   color: @gary-1;
  // }

  // &-type-normal,
  // &-type-plain,
  // &-type-dashed {
  //   color: @gary-9;
  // }

  &-type-dashed {
    border-style: dashed;
  }

  &-type-text {
    background: none;
    border: none;
  }
}

// button:disabled,
// .bp-button-disabled {
//   opacity: 0.6;
//   pointer-events: none;
//   cursor: no-drop;
//   .transition-all-2-ease();
// }

// // 加载
// .bp-icon-loading {
//   display: inline-block;
//   animation: rotating 0.8s linear infinite;
//   -webkit-animation: rotating 0.8s linear infinite;
// }

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(365deg);
  }
}
