/**
 * @ Author: Sam
 * @ Create Time: 2023-02-23 04:14:35
 * @ Modified by: Sam
 * @ Modified time: 2023-03-03 09:09:50
 * @ Description:
 */

.bp-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  min-height: @miniHeight;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 1;
  .no-select;
  // .transition-all-2-ease();

  span {
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.4px;
  }

  &-size-normal {
    font-size: 14px;
    font-weight: 400;
    height: @normalHeight;
    border-radius: 4px;
    padding: 0 15px;
  }

  #status-normal() {
    main_bg: @gary-7;
    second_bg: @gary-4;
    hover_bg: @gary-3;
  }

  #status-primary() {
    main_bg: @primary-6;
    second_bg: @primary-0;
  }

  // &-${status}-${type}
  // status: normal
  &-normal-normal {
    background-color: @gary-4;
    border: 1px solid @gary-4;
    color: @gary-9;

    &:hover {
      background-color: @gary-3;
      border: 1px solid @gary-3;
    }
    &:active {
      background-color: @gary-4;
      border: 1px solid @gary-4;
    }
  }
  &-normal-primary {
    background-color: @gary-7;
    border: 1px solid @gary-7;
    color: @gary-1;
    &:hover {
      background-color: @gary-6;
      border: 1px solid @gary-6;
    }
    &:active {
      background-color: @gary-7;
      border: 1px solid @gary-7;
    }
  }
  &-normal-dashed,
  &-normal-plain {
    background-color: @gary-4;
    border: 1px solid @gary-7;
    color: @gary-9;
  }
  &-normal-text {
    color: @gary-9;
  }

  // status: primary
  &-primary-normal {
    background-color: #status-primary[second_bg];
    border: 1px solid #status-primary[second_bg];
    color: #status-primary[main_bg];
  }
  &-primary-primary {
    background-color: #status-primary[main_bg];
    border: 1px solid #status-primary[main_bg];
    color: @gary-1;
  }
  &-primary-plain,
  &-primary-dashed {
    background-color: #status-primary[second_bg];
    border: 1px solid #status-primary[main_bg];
    color: #status-primary[main_bg];
  }
  &-primary-text {
    color: #status-primary[main_bg];
  }

  &-type-dashed {
    border-style: dashed;
  }

  &-type-text {
    background: none;
    border: none;
  }
}

// button:disabled,
// .bp-button-disabled {
//   opacity: 0.6;
//   pointer-events: none;
//   cursor: no-drop;
//   .transition-all-2-ease();
// }

// // 加载
// .bp-icon-loading {
//   display: inline-block;
//   animation: rotating 0.8s linear infinite;
//   -webkit-animation: rotating 0.8s linear infinite;
// }

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(365deg);
  }
}
