/**
 * @Author: Sam
 * @Date: 2021-06-12 19:08:03
 * @LastModifiedBy:   Sam
 * @LastModifiedTime: 2021-11-03 15:14:39
 */

 .bp-pagination {
  position: relative;
  display: flex;

  .bp-pagination-total {
    margin-right: 12px;
    float: left;

    p {
      height: @normalHeight;
      line-height: @normalHeight;
      margin: 0;
      color: @gary-7;

      span {
        margin: 0 2px;
      }
    }
  }

  .bp-pagination-container {
    margin-right: 10px;
    display: flex;
    height: @normalHeight;

    .active {
      border: 1px solid @primary-3;
      color: @primary-3;
      transition: all .2s;
    }

    .bp-pagination-item {
      list-style: none;
      float: left;
      height: @normalHeight;
      width: @normalHeight;
      min-width: @normalHeight;
      line-height: @normalHeight;
      text-align: center;
      border: 1px solid @gary-4;
      border-radius: @radius;
      color: @gary-7;
      font-size: 14px;
      cursor: pointer;
      transition: all .2s;
      .no-select;

      &:hover {
        .active;
      }

      &:not(:first-child) {
        margin-left: 0;
        margin-right: 0;
      }

      &:not(:last-child) {
        margin-left: 0;
        margin-right: 6px;
      }
    }

    .bp-prev-page,
    .bp-next-page {
      width: auto;
      min-width: @normalHeight;

      .ri-arrow-left-s-line,
      .ri-arrow-right-s-line {
        font-size: 18px;
        color: @gary-6;
      }

      span {
        padding: 0 8px;
      }
    }

    .pagination-item-active {
      .active;
    }

    .pagination-item-disabled {
      cursor: no-drop;
      opacity: .618;

      &:hover {
        border: 1px solid @gary-4;
        color: @gary-7;
      }
    }
  }

  .select-input{
    width: 100px;
  }
}