/**
 * @Author: Sam
 * @Date: 2021-06-12 19:08:03
 * @LastModifiedBy:   Sam
 * @LastModifiedTime: 2021-11-03 15:14:39
 */

.bp-pagination {
  position: relative;
  display: flex;

  .bp-pagination-container {
    display: flex;
    .bp-small-height;

    .bp-pagination-item {
      .bp-small-height;
      list-style: none;
      float: left;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: @smallHeight;
      min-width: @smallHeight;
      box-sizing: border-box;
      text-align: center;
      margin: 0 3px;
      border-radius: @radius;
      color: @gary-7;
      font-size: 14px;
      cursor: pointer;
      transition: all .2s;
      .no-select;

      .pagination-icon {
        font-size: 18px;
        color: @gary-6;
      }

      .pagination-text {
        padding: 0 8px;
      }

      &:hover {

        .pagination-text,
        .pagination-icon {
          color: @primary-3;
          transition: all .2s;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-left: 0;
      }
    }

    .pagination-item-active {

      .pagination-text,
      .pagination-icon {
        color: @primary-3;
        font-weight: bold;
        transition: all .2s;
      }
    }

    .pagination-item-disabled {
      cursor: no-drop;
      opacity: .618;
      transition: all .2s;

      &:hover {

        .pagination-text,
        .pagination-icon {
          color: @gary-7;
        }
      }
    }

    .bp-pagination-total,
    .bp-pagination-totalPages {
      .bp-small-height;
      padding: 0 10px;
      display: flex;
      align-items: center;

      .pagination-total-text {
        margin: 0;
        color: @gary-6;
      }
    }

    .bp-pagination-jumper {
      display: flex;
      align-items: center;

      span {
        margin: 0 8px;
        color: @gary-6;
      }

      .bp-input {
        width: 60px;

        input {
          text-align: center;
        }
      }
    }

    .bp-paginoation-simple {
      display: flex;
      justify-content: center;
      align-items: center;

      .bp-pagination-item {
        .bp-mini-height;
      }

      .simple-separator {
        width: @miniHeight;
        min-width: @miniHeight;
        text-align: center;
      }

      .bp-input {
        width: @miniHeight;

        .bp-input-inner {
          padding: 0;
        }
      }
    }
  }
}