/**
 * @ Author: Sam
 * @ Create Time: 2023-02-19 08:02:34
 * @ Modified by: Sam
 * @ Modified time: 2023-02-19 08:09:14
 * @ Description:
 */

.demo-block {
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 4px;

  &-area {
    padding: 20px 30px;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    border-top: 1px solid #ececec;
    font-size: 13px;
    padding: 0 30px;
    p {
      cursor: pointer;
    }
  }

  &-source {
    height: 0;
    overflow: auto;
  }
}
