/**
 * BP Colors
 * -------------------------------------------------------------------------- */
 :root {
  --bp-primary-1: #e8f3ff;
  --bp-primary-2: #bedaff;
  --bp-primary-3: #94bfff;
  --bp-primary-4: #6aa1ff;
  --bp-primary-5: #4080ff;
  --bp-primary-6: #165dff;
  --bp-primary-7: #0e42d2;
  --bp-primary-8: #072ca6;
  --bp-primary-9: #031a79;
  --bp-primary-10: #000d4d;

  --bp-danger-1: #ffece8;
  --bp-danger-2: #fdcdc5;
  --bp-danger-3: #fbaca3;
  --bp-danger-4: #f98981;
  --bp-danger-5: #f76560;
  --bp-danger-6: #f53f3f;
  --bp-danger-7: #cb272d;
  --bp-danger-8: #a1151e;
  --bp-danger-9: #770813;
  --bp-danger-10: #4d000a;

  --bp-warning-1: #fff7e8;
  --bp-warning-2: #ffe4ba;
  --bp-warning-3: #ffcf8b;
  --bp-warning-4: #ffb65d;
  --bp-warning-5: #ff9a2e;
  --bp-warning-6: #ff7d00;
  --bp-warning-7: #d25f00;
  --bp-warning-8: #a64500;
  --bp-warning-9: #792e00;
  --bp-warning-10: #4d1b00;

  --bp-success-1: #e8ffea;
  --bp-success-2: #aff0b5;
  --bp-success-3: #7be188;
  --bp-success-4: #4cd263;
  --bp-success-5: #23c343;
  --bp-success-6: #00b42a;
  --bp-success-7: #009a29;
  --bp-success-8: #008026;
  --bp-success-9: #006622;
  --bp-success-10: #004d1c;

  --bp-gary-0: #ffffff;
  --bp-gary-1: #f7f8fa;
  --bp-gary-2: #f2f3f5;
  --bp-gary-3: #e5e6eb;
  --bp-gary-4: #c9cdd4;
  --bp-gary-5: #a9aeb8;
  --bp-gary-6: #86909c;
  --bp-gary-7: #6b7785;
  --bp-gary-8: #4e5969;
  --bp-gary-9: #272e3b;
  --bp-gary-10: #1d2129;

  // dark
  --bp-primary-dark-1: #000d4d;
  --bp-primary-dark-2: #041b79;
  --bp-primary-dark-3: #0e32a6;
  --bp-primary-dark-4: #1d4dd2;
  --bp-primary-dark-5: #306fff;
  --bp-primary-dark-6: #3c7eff;
  --bp-primary-dark-7: #689fff;
  --bp-primary-dark-8: #93beff;
  --bp-primary-dark-9: #bedaff;
  --bp-primary-dark-10: #eaf4ff;

  --bp-danger-dark-1: #4d000a;
  --bp-danger-dark-2: #770611;
  --bp-danger-dark-3: #a1161f;
  --bp-danger-dark-4: #cb2e34;
  --bp-danger-dark-5: #f54e4e;
  --bp-danger-dark-6: #f76965;
  --bp-danger-dark-7: #f98d86;
  --bp-danger-dark-8: #fbb0a7;
  --bp-danger-dark-9: #fdd1ca;
  --bp-danger-dark-10: #fff0ec;

  --bp-warning-dark-1: #4d1b00;
  --bp-warning-dark-2: #793004;
  --bp-warning-dark-3: #a64b0a;
  --bp-warning-dark-4: #d26913;
  --bp-warning-dark-5: #ff8d1f;
  --bp-warning-dark-6: #ff9626;
  --bp-warning-dark-7: #ffb357;
  --bp-warning-dark-8: #ffcd87;
  --bp-warning-dark-9: #ffe3b8;
  --bp-warning-dark-10: #fff7e8;

  --bp-success-dark-1: #004d1c;
  --bp-success-dark-2: #046625;
  --bp-success-dark-3: #0a802d;
  --bp-success-dark-4: #129a37;
  --bp-success-dark-5: #1db440;
  --bp-success-dark-6: #27c346;
  --bp-success-dark-7: #50d266;
  --bp-success-dark-8: #7ee18b;
  --bp-success-dark-9: #b2f0b7;
  --bp-success-dark-10: #ebffec;

  --bp-gary-dark-0: #17171a;
  --bp-gary-dark-1: #2e2e30;
  --bp-gary-dark-2: #484849;
  --bp-gary-dark-3: #5f5f60;
  --bp-gary-dark-4: #78787a;
  --bp-gary-dark-5: #929293;
  --bp-gary-dark-6: #ababac;
  --bp-gary-dark-7: #c5c5c5;
  --bp-gary-dark-8: #dfdfdf;
  --bp-gary-dark-9: #f6f6f6;
  --bp-gary-dark-10: #ffffff;
}