// z-index

:root {
  --z-index-base: 3000;
  --z-index-message: calc(var(--z-index-base) + 3);
  --z-index-modal: calc(var(--z-index-base));
  --z-index-drawer: calc(var(--z-index-base) + 1);
  --z-index-tooltip: var(--z-index-base);
}
