@use "./var";

.VPNav {
  .text,
  .VPLink {
    font-size: 13px;
    font-weight: 500;
    color: var(--bp-gary-9);
  }

  .VPNavBar {
    .wrapper {
      border-bottom: 0.5px solid var(--bp-gary-3);
    }

    .title {
      border: none;
    }
  }

  .VPMenu {
    border-radius: 10px 8px;
    padding: 10px;
    border: 0.5px solid var(--bp-gary-3);

    .items {
      .VPMenuLink {
        .VPLink {
          font-weight: 400;
          padding: 0 10px;
          color: var(--bp-gary-9);

          &:hover {
            background-color: var(--bp-gary-2);
            color: var(--bp-gary-10);
          }
        }
      }

      .VPMenuGroup {
        .title {
          font-size: 12px;
          padding: 0 8px;
          color: var(--bp-gary-5);
        }
      }
    }
  }

  .VPSocialLinks {
    .VPSocialLink {
      color: var(--bp-gary-8);
    }
  }

  .VPFlyout {
    .button {
      color: var(--bp-gary-8);
    }
  }

  .VPSwitch {
    border: 1px solid var(--bp-gary-3);
    background-color: var(--bp-gary-2);

    .check {
      background-color: var(--bp-gary-0);

      .icon [class^="vpi-"] {
        color: var(--bp-gary-7);
      }
    }

    &:hover {
      border-color: var(--bp-gary-3);
    }
  }

  .VPNavBarSearch {
    .DocSearch-Button {
      border: none;
      background-color: var(--bp-gary-0);
      transition: all 0.2s ease;

      &:hover {
        background-color: var(--bp-gary-1);
        transition: all 0.2s ease;
      }
    }

    .DocSearch-Button-Container {
      span {
        font-weight: 400;
        color: var(--bp-gary-5);
      }
    }

    .DocSearch-Button-Keys {
      opacity: 0.8;
    }
  }

  .divider {
    display: none;
  }
}
