/**
 * BP Colors
 * -------------------------------------------------------------------------- */
:root {
  --bp-primary-1: #e8f3ff;
  --bp-primary-2: #bedaff;
  --bp-primary-3: #94bfff;
  --bp-primary-4: #6aa1ff;
  --bp-primary-5: #4080ff;
  --bp-primary-6: #165dff;
  --bp-primary-7: #0e42d2;
  --bp-primary-8: #072ca6;
  --bp-primary-9: #031a79;
  --bp-primary-10: #000d4d;

  --bp-danger-1: #ffece8;
  --bp-danger-2: #fdcdc5;
  --bp-danger-3: #fbaca3;
  --bp-danger-4: #f98981;
  --bp-danger-5: #f76560;
  --bp-danger-6: #f53f3f;
  --bp-danger-7: #cb272d;
  --bp-danger-8: #a1151e;
  --bp-danger-9: #770813;
  --bp-danger-10: #4d000a;

  --bp-warning-1: #fff7e8;
  --bp-warning-2: #ffe4ba;
  --bp-warning-3: #ffcf8b;
  --bp-warning-4: #ffb65d;
  --bp-warning-5: #ff9a2e;
  --bp-warning-6: #ff7d00;
  --bp-warning-7: #d25f00;
  --bp-warning-8: #a64500;
  --bp-warning-9: #792e00;
  --bp-warning-10: #4d1b00;

  --bp-success-1: #e8ffea;
  --bp-success-2: #aff0b5;
  --bp-success-3: #7be188;
  --bp-success-4: #4cd263;
  --bp-success-5: #23c343;
  --bp-success-6: #00b42a;
  --bp-success-7: #009a29;
  --bp-success-8: #008026;
  --bp-success-9: #006622;
  --bp-success-10: #004d1c;

  --bp-gary-0: #ffffff;
  --bp-gary-1: #f7f8fa;
  --bp-gary-2: #f2f3f5;
  --bp-gary-3: #e5e6eb;
  --bp-gary-4: #c9cdd4;
  --bp-gary-5: #a9aeb8;
  --bp-gary-6: #86909c;
  --bp-gary-7: #6b7785;
  --bp-gary-8: #4e5969;
  --bp-gary-9: #272e3b;
  --bp-gary-10: #1d2129;

  // dark
  --bp-primary-dark-1: #000d4d;
  --bp-primary-dark-2: #041b79;
  --bp-primary-dark-3: #0e32a6;
  --bp-primary-dark-4: #1d4dd2;
  --bp-primary-dark-5: #306fff;
  --bp-primary-dark-6: #3c7eff;
  --bp-primary-dark-7: #689fff;
  --bp-primary-dark-8: #93beff;
  --bp-primary-dark-9: #bedaff;
  --bp-primary-dark-10: #eaf4ff;

  --bp-danger-dark-1: #4d000a;
  --bp-danger-dark-2: #770611;
  --bp-danger-dark-3: #a1161f;
  --bp-danger-dark-4: #cb2e34;
  --bp-danger-dark-5: #f54e4e;
  --bp-danger-dark-6: #f76965;
  --bp-danger-dark-7: #f98d86;
  --bp-danger-dark-8: #fbb0a7;
  --bp-danger-dark-9: #fdd1ca;
  --bp-danger-dark-10: #fff0ec;

  --bp-warning-dark-1: #4d1b00;
  --bp-warning-dark-2: #793004;
  --bp-warning-dark-3: #a64b0a;
  --bp-warning-dark-4: #d26913;
  --bp-warning-dark-5: #ff8d1f;
  --bp-warning-dark-6: #ff9626;
  --bp-warning-dark-7: #ffb357;
  --bp-warning-dark-8: #ffcd87;
  --bp-warning-dark-9: #ffe3b8;
  --bp-warning-dark-10: #fff7e8;

  --bp-success-dark-1: #004d1c;
  --bp-success-dark-2: #046625;
  --bp-success-dark-3: #0a802d;
  --bp-success-dark-4: #129a37;
  --bp-success-dark-5: #1db440;
  --bp-success-dark-6: #27c346;
  --bp-success-dark-7: #50d266;
  --bp-success-dark-8: #7ee18b;
  --bp-success-dark-9: #b2f0b7;
  --bp-success-dark-10: #ebffec;

  --bp-gary-dark-0: #17171a;
  --bp-gary-dark-1: #2e2e30;
  --bp-gary-dark-2: #484849;
  --bp-gary-dark-3: #5f5f60;
  --bp-gary-dark-4: #78787a;
  --bp-gary-dark-5: #929293;
  --bp-gary-dark-6: #ababac;
  --bp-gary-dark-7: #c5c5c5;
  --bp-gary-dark-8: #dfdfdf;
  --bp-gary-dark-9: #f6f6f6;
  --bp-gary-dark-10: #ffffff;
}

.dark {
  --bp-primary-1: var(--bp-primary-dark-1);
  --bp-primary-2: var(--bp-primary-dark-2);
  --bp-primary-3: var(--bp-primary-dark-3);
  --bp-primary-4: var(--bp-primary-dark-4);
  --bp-primary-5: var(--bp-primary-dark-5);
  --bp-primary-6: var(--bp-primary-dark-6);
  --bp-primary-7: var(--bp-primary-dark-7);
  --bp-primary-8: var(--bp-primary-dark-8);
  --bp-primary-9: var(--bp-primary-dark-9);
  --bp-primary-10: var(--bp-primary-dark-10);

  --bp-warning-1: var(--bp-warning-dark-1);
  --bp-warning-2: var(--bp-warning-dark-2);
  --bp-warning-3: var(--bp-warning-dark-3);
  --bp-warning-4: var(--bp-warning-dark-4);
  --bp-warning-5: var(--bp-warning-dark-5);
  --bp-warning-6: var(--bp-warning-dark-6);
  --bp-warning-7: var(--bp-warning-dark-7);
  --bp-warning-8: var(--bp-warning-dark-8);
  --bp-warning-9: var(--bp-warning-dark-9);
  --bp-warning-10: var(--bp-warning-dark-10);

  --bp-success-1: var(--bp-success-dark-1);
  --bp-success-2: var(--bp-success-dark-2);
  --bp-success-3: var(--bp-success-dark-3);
  --bp-success-4: var(--bp-success-dark-4);
  --bp-success-5: var(--bp-success-dark-5);
  --bp-success-6: var(--bp-success-dark-6);
  --bp-success-7: var(--bp-success-dark-7);
  --bp-success-8: var(--bp-success-dark-8);
  --bp-success-9: var(--bp-success-dark-9);
  --bp-success-10: var(--bp-success-dark-10);

  --bp-danger-1: var(--bp-danger-dark-1);
  --bp-danger-2: var(--bp-danger-dark-2);
  --bp-danger-3: var(--bp-danger-dark-3);
  --bp-danger-4: var(--bp-danger-dark-4);
  --bp-danger-5: var(--bp-danger-dark-5);
  --bp-danger-6: var(--bp-danger-dark-6);
  --bp-danger-7: var(--bp-danger-dark-7);
  --bp-danger-8: var(--bp-danger-dark-8);
  --bp-danger-9: var(--bp-danger-dark-9);
  --bp-danger-10: var(--bp-danger-dark-10);

  --bp-gary-0: var(--bp-gary-dark-0);
  --bp-gary-1: var(--bp-gary-dark-1);
  --bp-gary-2: var(--bp-gary-dark-2);
  --bp-gary-3: var(--bp-gary-dark-3);
  --bp-gary-4: var(--bp-gary-dark-4);
  --bp-gary-5: var(--bp-gary-dark-5);
  --bp-gary-6: var(--bp-gary-dark-6);
  --bp-gary-7: var(--bp-gary-dark-7);
  --bp-gary-8: var(--bp-gary-dark-8);
  --bp-gary-9: var(--bp-gary-dark-9);
  --bp-gary-10: var(--bp-gary-dark-10);
}

:root {
  --vp-c-white: #ffffff;
  --vp-c-black: #000000;

  --vp-c-gray: #8e8e93;

  --vp-c-text-light-1: rgba(60, 60, 67, 0.92);
  --vp-c-text-light-2: rgba(60, 60, 67, 0.7);
  --vp-c-text-light-3: rgba(60, 60, 67, 0.33);

  --vp-c-text-dark-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-dark-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-dark-3: rgba(235, 235, 245, 0.38);

  --vp-c-yellow: #eab308;
  --vp-c-yellow-light: #facc15;
  --vp-c-yellow-lighter: #fde047;
  --vp-c-yellow-dark: #ca8a04;
  --vp-c-yellow-darker: #a16207;
  --vp-c-yellow-dimm-1: rgba(234, 179, 8, 0.05);
  --vp-c-yellow-dimm-2: rgba(234, 179, 8, 0.2);
  --vp-c-yellow-dimm-3: rgba(234, 179, 8, 0.5);

  --vp-c-red: #f43f5e;
  --vp-c-red-light: #fb7185;
  --vp-c-red-lighter: #fda4af;
  --vp-c-red-dark: #e11d48;
  --vp-c-red-darker: #be123c;
  --vp-c-red-dimm-1: rgba(244, 63, 94, 0.05);
  --vp-c-red-dimm-2: rgba(244, 63, 94, 0.2);
  --vp-c-red-dimm-3: rgba(244, 63, 94, 0.5);

  --vp-c-sponsor: #db2777;
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-bg: var(--bp-gary-0);

  --vp-c-bg-soft: #f6f6f7;
  --vp-c-bg-soft-up: #ffffff;
  --vp-c-bg-soft-down: #e3e3e5;
  --vp-c-bg-soft-mute: #e3e3e5;

  --vp-c-bg-alt: #f6f6f7;
  --vp-c-text-1: var(--bp-gary-9);
  --vp-c-text-2: var(--bp-gary-7);

  --vp-c-border: rgba(60, 60, 67, 0.29);
  --vp-c-divider: var(--bp-gary-3);

  --vp-c-text-code: #476582;

  --vp-c-brand: var(--bp-primary-6);
  --vp-c-brand-1: var(--bp-primary-6);
  --vp-c-brand-light: var(--bp-primary-5);
  --vp-c-brand-lighter: var(--bp-primary-5);
  --vp-c-brand-dark: var(--bp-primary-6);
  --vp-c-brand-darker: var(--bp-primary-6);

  --vp-c-mute: #f6f6f7;
  --vp-c-mute-light: #f9f9fc;
  --vp-c-mute-lighter: #ffffff;
  --vp-c-mute-dark: #e3e3e5;
  --vp-c-mute-darker: #d7d7d9;
}

.dark {
  --vp-c-bg: var(--bp-gary-dark-0);

  --vp-c-bg-soft: #252529;
  --vp-c-bg-soft-up: #313136;
  --vp-c-bg-soft-down: var(--bp-gary-dark-0);
  --vp-c-bg-soft-mute: #313136;

  --vp-c-bg-alt: #161618;
  --vp-c-text-1: var(--bp-gary-2);
  --vp-c-text-2: var(--bp-gary-3);

  --vp-c-brand: var(--bp-primary-dark-6);
  --vp-c-brand-1: var(--bp-primary-dark-6);
  --vp-c-brand-light: var(--bp-primary-dark-6);
  --vp-c-brand-lighter: var(--bp-primary-dark-6);
  --vp-c-brand-dark: var(--bp-primary-dark-6);
  --vp-c-brand-darker: var(--bp-primary-dark-6);

  --vp-c-text-code: #c9def1;
}

/**
 * Typography
 * -------------------------------------------------------------------------- */
:root {
  --vp-font-family-base: "Inter var", "Inter", ui-sans-serif, system-ui,
  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --vp-font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco,
  Consolas, "Liberation Mono", "Courier New", monospace;
  --font-quick: Quicksand, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-code: "Lucida Console", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
  monospace;
}
