.bp-table {
  position: relative;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;

  .bp-table-inner {
    font-feature-settings: "tnum";
    position: relative;
    clear: both;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow-x: auto;

    .text-left {
      text-align: left;
    }

    .text-center {
      text-align: center;
    }

    .text-right {
      text-align: right;
    }

    .bp-table-header {
      background-color: @gary-3;
    }

    .bp-table-header,
    .bp-table-body {
      width: 100%;
      border: none;
      border-spacing: 0;
      table-layout: fixed;
      box-sizing: border-box;

      .bp-table-header-thead {
        display: table-header-group;
        width: 100%;
        -moz-user-select: none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        tr {
          display: table-row;
          vertical-align: inherit;
          border-color: inherit;
          background: none;
          border: none;

          th {
            overflow-wrap: break-word;
            display: table-cell;
            padding: 8px 10px;
            font-size: 14px;
            font-weight: 500;
            color: @gary-10;
            border-left: none;
            border-right: none;
            border-top: none;
            background: none;
          }
        }
      }

      .bp-table-body-tbody {
        tr {
          border: none;

          &:hover {
            background-color: @gary-2;
          }

          td {
            font-size: 13px;
            color: @gary-9;
            font-weight: 400;
            padding: 8px 10px;
            word-break: break-all;
            border-top: 1px solid @gary-4;
          }
        }

        .bp-table-empty-tr {
          text-align: center;

          td {
            color: @gary-6;
          }
        }
      }
    }
  }

  // 带边框表格
  .bp-table-border {
    .bp-table-header {
      .bp-table-header-thead {
        tr {
          th {
            &:not(:first-child) {
              border-right: 1px solid #e8e8e8;
            }
            &:not(:last-child) {
              border-left: 1px solid #e8e8e8;
            }
            &:first-child {
              border-left: none;
            }
            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
    .bp-table-body-tbody {
      tr {
        td {
          &:not(:first-child) {
            border-right: 1px solid #e8e8e8;
          }
          &:not(:last-child) {
            border-left: 1px solid #e8e8e8;
          }
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }

  // 斑马纹样式
  .bp-table-stripe {
    .bp-table-body {
      .bp-table-body-tbody {
        tr {
          &:nth-child(2n + 2) {
            td {
              background-color: @gary-1;
            }
          }
        }
      }
    }
  }

  // 固定表头
  .bp-table-fixed-header {
    .bp-table-header {
      z-index: 500;
    }

    .bp-table-body {
      z-index: 499;
    }
  }
}

.scrollbar {
  width: 30px;
  margin: 0 auto;
}

.bp-table-body-area::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

.bp-table-body-area::-webkit-scrollbar-thumb {
  background-color: @gary-5;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
}

.bp-table-body-area::-webkit-scrollbar-track {
  background: @gary-4;
}
